{% extends 'base/base.html' %}
{% block title %}
    <title>KevIn`s Blog</title>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="/static/css/index.css" />
    <link href="/static/css/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="/static/js/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/common.js"></script>
{% endblock %}

<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

    <!--/Header-->
    <!--主题框架开始-->
{% block content %}
    <div class="container">
        <div class="head fl wfs">
            <div class="cover-page-wrapper">
                <a class="fl" href="{% url 'index' %}">
                    <img src="/static/picture/111.png" title="KevIn`s Blog" alt="KevIn`s Blog" />
                </a>
                <form id="searchForm" name="searchForm" class="search-product fl">
                <input name="keywords" type="text" id="keyword" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keyword');return false};"
                    placeholder="输入关键字搜索" class="form-control search-box" />
                <input class="submit" type="submit" onclick="SiteSearch('/search.html', '#keyword');"
                    style="border: none; cursor: pointer;">
                </form>
                <font id="ECS_MEMBERZONE">
                    <div class="head-operates-logined fr">
                        <a href="{% url 'accounts:user_login' %}" class="login">登录</a>
                    </div>
                </font>
            </div>
        </div>
        <div class="blank">
        </div>
        <div class="fl wfs bcf7">
            <div class="regist-process-wrapper">
                <div class="regist-process-body fl wfs">
                    
                    <!--用户注册-->
                    <link rel="stylesheet" href="/static/css/validate.css" />
                    <script type="text/javascript" charset="utf-8" src="/static/js/jquery.form.min.js"></script>
                    <script type="text/javascript" charset="utf-8" src="/static/js/validform_v5.3.2_min.js"></script>
                    <script type="text/javascript" charset="utf-8" src="/static/js/register-validate.js"></script>
                    <div class="regist-process-register-left fl">
                        <h2 class="title">用户注册</h2>
                        <form action="{% url 'accounts:user_register' %}" method="post">
                            {% csrf_token %}
                        <div>
                            <span class="title">用户名：</span>
                            <input class="form-control text" id="txtUserName" name="username" type="text"
                                placeholder="输入登录用户名" datatype="s3-50">
                            <p id="username" class="tips Validform_checktip">
                                {{ form.username.error.0 }}</p>
                        </div>
                        <div>
                            <span class="title">昵称：</span>
                            <input class="form-control text" id="txtNickName" name="nickname" type="text"
                                placeholder="输入登录昵称" datatype="s3-50">
                            <p id="nickname" class="tips Validform_checktip">
                                {{ form.nickname.error }}</p>
                        </div>
                        <div>
                            <span class="title">密码：</span>
                            <input class="form-control text" id="txtPassword" name="password" type="password"
                                placeholder="输入登录密码" datatype="*6-20">
                            <p id="password" class="tips Validform_checktip">
                                {{ form.password.error }}</p>
                        </div>
                        <div>
                            <span class="title">确认密码：</span>
                            <input class="form-control text" id="txtPassword1" name="repassword" type="password"
                                placeholder="请再次输入密码" datatype="*">
                            <p id="repassword" class="tips Validform_checktip">
                                {{ form.repassword.error }}</p>
                        </div>

                        <!--开放注册及邮箱邀请注册-->
                        <div>
                            <span class="title">邮箱：</span>
                            <input id="txtEmail" class="form-control text" type="text" name="email" placeholder="输入邮箱账号(选填)"
                                datatype="e">
                            <p id="email" class="tips Validform_checktip">
                                {{ form.email.error }}</p>
                        </div>
                        <!--/开放注册及邮箱邀请注册-->
{#                         onclick="ToggleCode(this, '/tools/verify_code.ashx');return false;"#}
                        <!--开放注册-->
                        <div>
                            <span class="title" style="margin-top: 20px;">验证码：</span>
                            <input type="text" id="txtCode" name="verify_code" class="form-control text fl" style="width: 115px;" placeholder="输入验证码" datatype="s4-20" />
                            <a class="send" title="点击切换验证码" href="javascript:;">
                                <img src="{% url 'accounts:verify_code' %}" alt="captcha" class="fl verify-code-img" data-src="{% url 'accounts:verify_code' %}" style="cursor: pointer; margin-top: 25px; margin-left: 10px;" />
                            </a>
                            <p id="verify_code" class="tips Validform_checktip">
                                {{ form.verify_code.error }}</p>
                        </div>
                        <!--/开放注册-->
                        
                        <!--开启注册协议-->
                        <br><br><br>

                        <div class="read-protocal">
                            <input id="chkAgree" name="chkAgree" type="checkbox" value="1"  />
                            我已仔细阅读并接受<a href="javascript:;" onclick="showWindow('#regrules');" style="color: #58b3ec;">注册许可协议</a>
                            <div id="regrules" title="注册许可协议" style="display: none;">
                                1、在本站注册的会员，必须遵守《互联网电子公告服务管理规定》，不得在本站发表诽谤他人，侵犯他人隐私，侵犯他人知识产权，传播病毒，政治言论，商业讯息等信息。<br/>
2、在所有在本站发表的文章，本站都具有最终编辑权，并且保留用于印刷或向第三方发表的权利，如果你的资料不齐全，我们将有权不作任何通知使用你在本站发布的作品。
3、在登记过程中，您将选择注册名和密码。注册名的选择应遵守法律法规及社会公德。您必须对您的密码保密，您将对您注册名和密码下发生的所有活动承担责任。</div>
                        </div>
                        <!--开启注册协议-->
                        
                        <input class="btn btn-danger register-now" name="Submit btnSubmit" type="submit" id="btnSubmit" value="立即注册" disabled="disabled">
                        
                        </form>
                    </div>
                    
                    <div class="regist-process-register-right fr">
                        <h2 class="title">
                            我已注册账号</h2>
                        <a class="btn btn-info login-now" href="{% url 'accounts:user_login' %}">立即登录</a> <span class="other-account">
                            其他网站账号登陆</span>
                        <div class="other-login ">
                            
                            <!--取得一个DataTable-->
                            
                           <h3>第三方登录正在申请中。。。</h3>
                           
                            <!--<a class="qq" href="#">qq</a>
                           <a class="sina" href="#" target="_blank">新浪微博</a>
                           <a class="alipay" href="#" target="_blank">支付宝</a>
                           <a class="weixin" href="#" target="_blank">微信</a>-->
                        </div>
                        <!--<div class="scan">
                           <img src="/static/picture/register-code.png" alt="">
                           <span>扫描我，即可下载</span>
                           <b>模板堂手机客户端</b>
                       </div>-->
                        <p class="pre-consultation">
                            联系QQ<b>850194007</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <!--Header-->
    <!---底部开始-->
<!---返回顶部-->
<!--换肤--->

<!---END 底部开始-->
    <!--/Header-->
{% block footjs %}
    <script>
        $('.verify-code-img').click(function() {
            $(this).attr('src', $(this).attr('data-src') + '?t=' + new Date().getTime())
        });

        $('.form-control').click(function () {
            let id = $(this).attr('id');
            $('#'+id).blur(function () {
                let value = $('#'+id).val();
                let params = $('#'+id).attr('name');
                let sendData = {csrfmiddlewaretoken:'{{ csrf_token }}',params:params};
                let value1 = null;
                if(params === 'username'){
                    sendData['username'] = value
                }else if(params === 'nickname'){
                    sendData['nickname'] = value
                }else if(params === 'password'){
                    sendData['password'] = value;
                    value1 = $('#txtPassword1').val();
                    sendData['repassword'] = value1;

                }else if(params === 'repassword'){
                    sendData['repassword'] = value;
                    value1 = $('#txtPassword').val();
                    sendData['password'] = value1;
                }else if(params === 'email'){
                    sendData['email'] = value
                }else if(params === 'verify_code'){
                    sendData['verify_code'] = value
                }
                $.ajax({
                    url:"{% url 'accounts:user_register' %}",
                    type:'post',
                    data:sendData,
                    success:function (rest) {
                        if(rest != null){
                            if(params === 'username'){
                                $('#username').text(rest.data)
                            }else if(params === 'nickname'){
                                $('#nickname').text(rest.data)
                            }else if(params === 'password'){
                                $('#repassword').text(rest.data)
                            }else if(params === 'repassword'){
                                $('#repassword').text(rest.data)
                            }else if(params === 'email'){
                                $('#email').text(rest.data)
                            }else if(params === 'verify_code'){
                                $('#verify_code').text(rest.data)
                            }
                    }},
                    error:function (rest) {
                        alert('no')
                    }
                 })
            })
        });





        {#$('.form-control').blur(function () {#}
        {#    let value = $(this).val();#}
        {#    let params = $(this).attr('name');#}
        {#    $.ajax({#}
        {#        url:"{% url 'accounts:user_register' %}",#}
        {#        type:'post',#}
        {#        data:{#}
        {#            params:params,#}
        {#            value:value,#}
        {#            csrfmiddlewaretoken:'{{ csrf_token }}',#}
        {#        },#}
        {#        success:function (rest) {#}
        {#            alert(rest.data)#}
        {#        },#}
        {#        error:function (rest) {#}
        {#            alert('no')#}
        {#        }#}
        {#     })#}
        {# })#}

    </script>
{% endblock %}

