{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>账户余额 - KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->


    <!--/左侧导航-->
    
    <!--右侧内容-->
{% block content %}
    <div class="member-redpack fr w955" >
      
      <!--收支明细-->
      <link rel="stylesheet" href="/static/css/paginations.css" />
      <script type="text/javascript">
	    function ExecPostBack(checkValue) {
			if (arguments.length == 1) {
				ExecDelete('/tools/submit_ajax.ashx?action=user_amount_delete', checkValue, '#turl');
			}else{
				var valueArr = '';
				$("input[name='checkId']:checked").each(function(i){
					valueArr += $(this).val();
					if(i < $("input[name='checkId']:checked").length - 1){
						valueArr += ","
					}
				});
				ExecDelete('/tools/submit_ajax.ashx?action=user_amount_delete', valueArr, '#turl');
			}
		}
	  </script>
      <h3 class="operate-title mt20">收支明细</h3>
      <div class="operate-items mt20">
           <a class="j-item " href="{% url 'accounts:user_center_recharge' %}">账户充值</a>
           <a class="j-item " href="{% url 'accounts:user_amount_log' %}">充值记录</a>
           <a class="j-item now" href="{% url 'accounts:user_balance_list' %}">收支明细</a>
       </div>
       <div class="redpack j-redpack" style="display:block;">
            <table class="redpack-items">
               <thead>
                   <tr class="redpack-tr1">
                       <th>选择</th>
                       <th>时间</th>
                       <th>内容</th>
                       <th>消费金额</th>
                       <th>操作</th>
                   </tr>
               </thead>
         <tbody>
           <!--取得一个DataTable-->
           <!--取得分页页码列表-->
          
            <tr><td colspan="5" align="center">暂无记录...</td></tr>
          
          </tbody>
        </table>
        <div class="page-foot">
          <div class="pagination"></div><!--放置页码列表-->
          <div class="page-btns">
            <a onclick="checkAll(this);" href="javascript:;">全选</a>
            <span class="pipe">|</span>
            <a onclick="ExecPostBack();" href="javascript:;">删除</a>
          </div>
        </div>
       </div>
      <input id="turl" type="hidden" value="/user/amount/list.html" /><!--存在跳转的URL值-->
      <!--收支明细-->
      
    </div>
{% endblock %}
    <!--/右侧内容-->

<!--Footer-->
<!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
<!--/Footer-->
{% block footjs %}
<script type="text/javascript">
    $(function () {
        $(".mymoney").addClass("demo-dd-a-now");
    })
    </script>
{% endblock %}