{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>查看站内短信息 - 冠美博客</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->
{% block container %}
<div class="container">
<div class="clearfix">
  <div class="line30"></div>

  <div class="info-wrap">
    <!--左侧导航-->
    <link href="/static/css/member-center.css" rel="stylesheet" type="text/css" />
<script src="/static/js/common.js" type="text/javascript"></script>
{% include 'user_base/lside.html' %}

    <!--/左侧导航-->

    <!--右侧内容-->
    <div class="home-box">
      <!--系统消息-->
      <div class="u-tab-head">
        <div class="operate-items mt20">
          <a class="j-item " href="{% url 'accounts:user_message_system_list' %}?params=system">系统消息</a>
          <a class="j-item" href="{% url 'accounts:user_message_accept_list' %}?params=accept">收件箱</a>
          <a class="j-item " href="{% url 'accounts:user_message_send_list' %}?params=send">发件箱</a>
          <a class="j-item "  href="{% url 'accounts:user_message_add' %}">+ 写新消息</a>
      </div>
      </div>
      <div class="u-tab-content">
        <div class="title-div">
          <strong>KevIn`s Blog 站内短信息</strong>
        </div><br>

        <div class="ntitle">
          <h1 class="ntitle-tit"><span>标题:</span>{{ object.title }}</h1>
          <p class="ntitle-info">
              <span class="time">{{ object.created_at }}</span>&nbsp;&nbsp;&nbsp;
              {% if object.user.username == 'system_admin' %}
              发件人：KevIn`s Blog&nbsp;&nbsp;&nbsp;
              {% else %}
              发件人：{{ object.user.username }}&nbsp;&nbsp;&nbsp;
              {% endif %}

          </p>
        </div>
          <p>——————————————————————</p>
          <br>
        <div class="entry">
          {{ object.content }}
        </div>

      </div>
      <!--/系统消息-->

    </div>
    <!--/右侧内容-->
  </div>
</div>
</div>
{% endblock %}
