<div class="select-skin">
<div class="skin-btn">
    <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
</div>

<div class="skin-content">
    <h1>选择风格<span class="skin-close">关闭</span></h1>
    <div class="skin-content-list">
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a></div>
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a></div>
		 <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;" class="btn3">清爽</a></div>
    </div>
</div>
</div>