{% extends 'base/base.html' %}
{% block title %}
    <title>个人信息 - KevIn`s Blog</title>
{% endblock %}

<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
{% block content %}
<div class="container">
    <!--左侧开始-->
	<section>
         <article>
             <div class="about-content bg-color" >
                <p><span style="font-size:16px;color:#E53333;font-family:&#39;Microsoft YaHei&#39;;">
                    <strong>本站内容仅供学习和参阅，不做任何商业用途。</strong>
                        </span></p><p><br/></p><p>
                    <strong>
                        <span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">中文名</span>
                    </strong>
                        <span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">：柯鑫</span>
                            </p><p><br/></p><p>
                    <strong>
                        <span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">职业：</span>
                    </strong>
                        <span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">PythoneWeb开发工程师</span>
                            </p><p><br/></p><p>
                        <span style="line-height:21px;font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">
                    <strong>熟悉框架</strong>
                        </span>
                    <span style="font-size:16px;line-height:21px;font-family:&#39;Microsoft YaHei&#39;;">：</span>
                    <span style="line-height:21px;"><span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">Django+Flask等主流Web开发框架</span>
                    </span>
                        </p><p><br/></p><p>
                    <strong><span style="font-size:16px;line-height:21px;font-family:&#39;Microsoft YaHei&#39;;">后台主程序</span>
                        <span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">：</span>
                    </strong><span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">
                        <span style="line-height:21px;font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">Django</span>
                        </span></p><p><br/></p><p><span style="font-size:14px;">
                    <strong><span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;">个人简介：</span>
                    </strong><span style="font-size:16px;">

                    </span></span><span style="font-size:14px;">
                 <strong><span style="font-size:16px;font-family:&#39;Microsoft YaHei&#39;;"></span></strong>
                 <span style="color:#64451D;font-family:&#39;Microsoft YaHei&#39;;font-size:16px;"><span style="color:#333333;font-family:&#39;Microsoft YaHei&#39;;line-height:24px;font-size:16px;">精通Python、C、C++、Java、C#、VB、HTML、Delphi、JavaScript、PHP等语言的拼写,熟练PhotoShop、Illustrator&nbsp;CS、CorelDraw、Flash&nbsp;CS、AutoCAD、Office等软件的卸载,掌握Windows&nbsp;Server、Unix、Lunix等操作系统的关机。</span>
                 </span></span></p><p><br/></p><p><span style="font-size:14px;">
                 <span style="line-height:1.5;color:#000000;font-size:16px;font-family:&#39;Microsoft YaHei&#39;;"><strong>网站简介</strong></span>
                 <strong>
                     <span style="color:#000000;font-size:16px;font-family:&#39;Microsoft YaHei&#39;;"><span style="line-height:1.5;">：</span>
                         <span style="line-height:48px;">本网站用作学习以及交流用途，如有侵权，纯属意外。</span>
                     </span></strong></span></p><p><br/></p><p><span style="font-size:14px;"></span></p>
              </div>
         </article>
    </section>
    <!--左侧结束-->

    <!--右侧-->
    <script type="text/javascript" src="/static/js/common.js"></script>
    
<!--=========右侧开始==========-->
{% block rside %}
{% endblock %}
<!--=========右侧结束==========-->
    <!--/右侧-->
</div>
{% endblock %}
    <!--Header-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->

