<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div id="a1"></div>
<script type="text/javascript" src="/static/scripts/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript">
    var flashvars={
        f:'http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4',
        c:0,
        loaded:'loadedHandler'
    };
    var video=['http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4'];
    CKobject.embed('/static/scripts/ckplayer/ckplayer.swf','a1','ckplayer_a1','600','400',false,flashvars,video);
</script>
{#<div id="a1"></div>#}
{#<script type="text/javascript" src="/static/scripts/ckplayer/ckplayer.js" charset="utf-8"></script>#}
{#<script type="text/javascript">#}
{#    var flashvars={#}
{#        f:'http://vfx.mtime.cn/Video/2019/03/21/mp4/190321153853126488.mp4',#}
{#        c:0,#}
{#        b:1#}
{#    };#}
{#    var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};#}
{#    CKobject.embedSWF('/static/scripts/ckplayer/ckplayer.swf','a1','ckplayer_a1','600','400',flashvars,params);#}
{#</script>#}

</body>
</html>