{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>站内短信息 - KevIn`s Blog</title>
{% endblock %}




<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->
{% block container %}
<div class="container">
<div class="clearfix">

  <div class="info-wrap">
    <!--左侧导航-->
    <link href="/static/css/member-center.css" rel="stylesheet" type="text/css" />
<script src="/static/js/common.js" type="text/javascript"></script>
      <script type="text/javascript">
	    function ExecPostBack(checkValue) {
		    if (arguments.length == 1) {
			    ExecDelete('{% url "accounts:user_message_del" %}', checkValue, '#turl','#csrf');
		    }else{
			    var valueArr = '';
			    $("input[name='checkId']:checked").each(function(i){
				    valueArr += $(this).val();
				    if(i < $("input[name='checkId']:checked").length - 1){
					    valueArr += ","
				    }
			    });
			    ExecDelete('{% url "accounts:user_message_del" %}', valueArr, '#turl','#csrf');
		    }
        }
    </script>
{% include 'user_base/lside.html' %}
</div>

    <!--/左侧导航-->
    
    <!--右侧内容-->
    <div class="member-redpack fr w955" >
      
      <!--收件箱-->
      <h3 class="operate-title mt20">发件箱</h3>
      <div class="operate-items mt20">
          <a class="j-item " href="{% url 'accounts:user_message_system_list' %}?params=system">系统消息</a>
          <a class="j-item " href="{% url 'accounts:user_message_accept_list' %}?params=accept">收件箱</a>
          <a class="j-item now" href="{% url 'accounts:user_message_send_list' %}?params=send">发件箱</a>
          <a class="j-item "  href="{% url 'accounts:user_message_add' %}">+ 写新消息</a>
      </div>
        <div class="redpack j-redpack" style="display:block;">
        <table class="redpack-items">
               <thead>
                   <tr class="redpack-tr1">
                   <th>选择</th>
                   <th>收件人</th>
                   <th>内容</th>
                   <th>状态</th>
                   <th>时间</th>
                   <th>操作</th>
               </tr>
           </thead>
         <tbody>
           <!--取得一个DataTable-->
       <!--取得分页页码列表-->

{#            <tr><td colspan="6" align="center">暂无记录...</td></tr>#}
           {% for m in object_list %}
              <tr>
              <td width="20" align="center"><input name="checkId" class="checkall" type="checkbox" value="{{ m.id }}" ></td>
              <td width="48">

                <img src="{{ m.to_user_obj.userprofile.avatar.url|default:'/static/images/user-avatar.png' }}" width="48" height="48" />

              </td>
              <td><strong><a href="{% url 'accounts:user_message_detail' m.id %}">{{ m.to_user_obj.username }}</strong><br /><a href="{% url 'accounts:user_message_detail' m.id %}">{{ m.content }}</a></td>
              <td width="30" align="center">

                  {{ m.get_status_display }}

              </td>
              <td width="150">{{ m.created_at }}</td>
              <td width="30"><a onclick="ExecPostBack({{ m.id }});" href="javascript:;">删除</a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div class="page-foot">
          <div class="pagination">
              <div class="list-page">
                  <ul class="post-data">
                      <li><a>共 {{ paginator.count }} 条</a></li>
                  </ul>
              </div>
              <ul>
                  {% if page_obj.has_previous %}
                  <li class="active"><a href="{% url 'accounts:user_message_send_list' %}?params=send&page={{ page_obj.previous_page_number }}">上一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">上一页</a></li>
                  {% endif %}
                  {% for p in paginator.page_range %}
                  <li><a href="{% url 'accounts:user_message_send_list' %}?params=send&page={{ p }}">{{ p }}</a></li>
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="active"><a href="{% url 'accounts:user_message_send_list' %}?params=send&page={{ page_obj.next_page_number }}">下一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">下一页</a></li>
                  {% endif %}
              </ul>
          </div><!--放置页码列表-->
          <div class="page-btns">
            <a onclick="checkAll(this);" href="javascript:;">全选</a>
            <span class="pipe">|</span>
            <a onclick="ExecPostBack();" href="javascript:;">删除</a>
          </div>
        </div>
      </div>
      <input id="turl" type="hidden" value="{% url 'accounts:user_message_send_list' %}?params=send" />
        <input id="csrf" type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
      <!--/收件箱-->
      
      
      
    </div>
    <!--/右侧内容-->
  </div>
</div>
{% endblock %}

<!--Footer-->
<!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
<!--/Footer-->
{% block footjs %}
    <script type="text/javascript">
        $(function () {
            $(".mymessage").addClass("demo-dd-a-now");
        })
    </script>
{% endblock %}
