{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>会员中心 - KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

    <!--/Header-->
            <!--左侧导航-->

            <!--/左侧导航-->
            <!--右侧内容-->
{% block content %}
            <div class="member-index fr w955 ">
                
                <!--设置头像-->
                <link rel="stylesheet" href="/static/css/jquery.jcrop.css" type="text/css" />
                <script type="text/javascript" charset="utf-8" src="/static/scripts/webuploader/webuploader.min.js"></script>
                <script type="text/javascript" charset="utf-8" src="/static/scripts/jquery/jquery.jcrop.min.js"></script>
                <script type="text/javascript" charset="utf-8" src="/static/js/avatar.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $(".myimg").addClass("demo-dd-a-now");
                    })
                </script>
                <script type="text/javascript">
                    {#$(function () {#}
                    {#    initWebUploader('/');#}
                    {# });#}
                    var photoId;
                    function openFile(e) {
                        photoId=e;
                        document.getElementById(photoId).click();
                    }
                    function viewImage(e) {
                        var file = $("#"+photoId).prop('files')[0];
                        if (file) {
                            // image = file; //用于确定信息时确保是否已上传图片
                            var reader = new FileReader();
                            reader.readAsDataURL(file);
                            reader.onloadend = function (even) {
                                $('#'+e).attr("src", even.currentTarget.result);
                                {#addBox(e);#}
                            }
                        }
                    }
                </script>

                <h3 class="operate-title mt20">
                    头像设置</h3>

                <form action="{% url 'accounts:user_center_avatar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="orders j-orders" style="display: block;">
                    <p>
                        <strong>设置我的新头像</strong></p>
                    <p>
                        如果您还没有设置自己的头像，系统会显示为默认头像，您需要自己上传一张新照片来作为自己的个人头像。</p>
                    <p>
                        上传成功后，请裁剪合适的头像确认保存后才能生效。</p>
                    <div class="line20">
                    </div>
{#                    <div id="upload-box" class="upload-box">#}
{#                        <div class="upload-btn webuploader-container">#}
{#                            <div class="webuploader-pick">上传图片</div>#}
{#                            <div id="" style="position: absolute; top: 0px; left: 0px; width: 116px; height: 34px; overflow: hidden; bottom: auto; right: auto;">#}
                                <input type="file" id="avatarSlect" name="avatar" onchange="viewImage('target')" style="display: none" class="webuploader-element-invisible" accept="image/*">
{#                                <label for="avatarSlect" style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                    <div class="cropper-wraper">
                        <div class="cropper-box">
                            <img id="target" src="/static/images/avatar-bg.png" onclick="openFile('avatarSlect')" width="350" height="350" />
                        </div>
                        <div class="cropper-view">
                            <div class="img-box">
                                
                                <img id="preview" {% if  user_profile.avatar %}src="{{ user_profile.avatar.url }}" {% else %}src="/static/images/user-avatar.png"{% endif %} />
                                <span>头像预览</span>
                            </div>
                            <div class="btn-box">
                                <p>
                                    <strong>头像预览区</strong></p>
                                <p class="feed-sub">
                                    <input name="btnSubmit" type="submit" class="btn btn-danger account-recharge" value="确定保存"
                                         id="btnsub" style="line-height: 24px;" /></p>
{#                                onclick="CropSubmit(this);"#}
                                <p class="tip">
                                    提示：生成头像大小180*180相素上传图片后，左侧选取图片合适大小，点击下面的保存按钮。</p>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
{#                <form id="uploadForm" name="uploadForm" url="/tools/submit_ajax.ashx?action=user_avatar_crop">#}
{#                <input id="hideFileName" name="hideFileName" type="hidden" />#}
{#                <input id="hideX1" name="hideX1" type="hidden" value="0" />#}
{#                <input id="hideY1" name="hideY1" type="hidden" value="0" />#}
{#                <input id="hideWidth" name="hideWidth" type="hidden" value="0" />#}
{#                <input id="hideHeight" name="hideHeight" type="hidden" value="0" />#}
{#                </form>#}
                <!--/设置头像-->
                
            </div>
{% endblock %}
{% block footjs %}
    <script>

    </script>
{% endblock %}
            <!--/右侧内容-->

    <!--Footer-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
    <!--/Footer-->

