<footer>
	<div class="footer-area">
	<!--博客相关-->
	<div class="about-blog">
		<h4>素材排行</h4>
		<div class="ft-part1">
			<!--文章排行-->
				<ul class="paihang-ul" style="display:block;width:100%;">

                    <li><span></span><a href="/down/show-142.html" title=" Bootstrap响应CRM系统后台模板"> Bootstrap响应CRM系统后台模板<b>(167)</b></a></li>

                    <li><span></span><a href="/down/show-132.html" title=" 懒人OA（改）"> 懒人OA（改）<b>(133)</b></a></li>

                    <li><span></span><a href="/down/show-118.html" title=" 旅游网源码"> 旅游网源码<b>(77)</b></a></li>

                    <li><span></span><a href="/down/show-157.html" title=" 全民经纪人"> 全民经纪人<b>(76)</b></a></li>

                    <li><span></span><a href="/down/show-143.html" title=" Atom ios7风格cms管理模板"> Atom ios7风格cms管理模板<b>(69)</b></a></li>

				</ul>
		</div>
	</div>
	<!--最新留言-->
	<div class="close-fd mob-hidden">
		<h4>留言频道</h4>
		<ul >

            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 晓晓 的网站看看?">
			    	    <img class="img-circle" src="/static/picture/4.jpg" alt="晓晓"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>晓晓</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="[Q0]不错,留言标题什么意思">[Q0]不错,留言标题什么意思</a>
			    </div>
			</li>

            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 背包客 的网站看看?">
			    	    <img class="img-circle" src="/static/picture/22.jpg" alt="背包客"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>背包客</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="哟西">哟西</a>
			    </div>
			</li>

            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 小兔子乖乖 的网站看看?">
			    	    <img class="img-circle" src="/static/picture/24.jpg" alt="小兔子乖乖"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>小兔子乖乖</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="小兔子乖乖，把门开开[ali_4]">小兔子乖乖，把门开开[ali_4]</a>
			    </div>
			</li>

        </ul>
	</div>

	<!--图文频道-->
	<div class="tuwen-pd mob-hidden">
		<h4>图文频道</h4>
		<ul >

            <li>
			    <a href="/news/show-158.html" title="中国已进入互害模式，人人逃不脱！">
			    <img src="/static/picture/201610111454266343.jpg" alt="中国已进入互害模式，人人逃不脱！" title="中国已进入互害模式，人人逃不脱！" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-149.html" title="汪汪博客再次更新">
			    <img src="/static/picture/201609221724121994.png" alt="汪汪博客再次更新" title="汪汪博客再次更新" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-144.html" title="jwplayer兼容主流视频格式播放">
			    <img src="/static/picture/201609181738278456.png" alt="jwplayer兼容主流视频格式播放" title="jwplayer兼容主流视频格式播放" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-111.html" title="（2016-9-10更新）汪汪博客net源码下载">
			    <img src="/static/picture/201609171044440839.jpg" alt="（2016-9-10更新）汪汪博客net源码下载" title="（2016-9-10更新）汪汪博客net源码下载" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-154.html" title="Feedback+留言插件增强版">
			    <img src="/static/picture/201609261655116264.jpg" alt="Feedback+留言插件增强版" title="Feedback+留言插件增强版" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-155.html" title="JS获取客户端信息">
			    <img src="/static/picture/201609292303066507.jpg" alt="JS获取客户端信息" title="JS获取客户端信息" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-150.html" title="如果哪天我“没”了， 支付宝里的钱怎么办？">
			    <img src="/static/picture/201609231135499029.jpg" alt="如果哪天我“没”了， 支付宝里的钱怎么办？" title="如果哪天我“没”了， 支付宝里的钱怎么办？" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-108.html" title="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出">
			    <img src="/static/picture/201609131550365913.jpg" alt="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出" title="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-110.html" title="年轻人，不要再贷款买房了！">
			    <img src="/static/picture/201609131550004500.jpg" alt="年轻人，不要再贷款买房了！" title="年轻人，不要再贷款买房了！" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-109.html" title="如果想做一件事，先别忙着发朋友圈">
			    <img src="/static/picture/201609131550179813.jpg" alt="如果想做一件事，先别忙着发朋友圈" title="如果想做一件事，先别忙着发朋友圈" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-121.html" title="什么样的博客容易被评论？">
			    <img src="/static/picture/201609111931276585.jpg" alt="什么样的博客容易被评论？" title="什么样的博客容易被评论？" class="img-circle"/>
			    </a>
		    </li>

            <li>
			    <a href="/news/show-129.html" title="外链的几种形式及权重">
			    <img src="/static/picture/201609132140209769.jpg" alt="外链的几种形式及权重" title="外链的几种形式及权重" class="img-circle"/>
			    </a>
		    </li>

		</ul>
	</div>
		<!--数据统计-->
	<div class="data-count ">
		<h4>数据统计</h4>
		<ul>
			<li><span><i class="el-picture icon-social-twitter"></i>图片数量：</span><a title="相册" class="footer_picture"></a> 张</li>
			<li><span><i class="el-headphones icon-social-twitter"></i>说说数量：</span><a title="说说" class="footer_headphones"></a> 条</li>
			<li><span><i class="el-pencil icon-social-twitter"></i>文章数量：</span><a title="文章" class="footer_pencil"></a> 篇</li>
			<li><span><i class="el-comment icon-social-twitter"></i>留言数量：</span><a title="留言数" class="footer_comment"></a> 条</li>
			<li><span><i class="el-comment-alt icon-social-twitter"></i>评论数量：</span><a title="评论数" class="footer_comment_alt"></a> 条</li>
			<li><span><i class="el-paper-clip icon-social-twitter"></i>素材个数：</span><a title="素材" class="footer_paper_clip"></a> 个</li>
			<!--<li><span><i class="el-cog icon-social-twitter"></i>运行天数：</span><a title="汪汪博客 已正常运行 312 天">312</a> 天</li>
			<li><span><i class="el-adjust-alt icon-social-twitter"></i>访问统计：</span><a title="累计访问116,900">116,900</a> 次</li>-->
		</ul>
	</div>

	</div>
	<!--底部导航-->
	<div class="foot-nav">
		<div class="copy-right"><span >CopyRight © 2015-2016 冠美博客     Design by coseo.cn</span></div>
		<div class="bottom-nav">
			<span>
                <a href="http://tongji.baidu.com/web/welcome/ico?s=a085b9cd4641b33068c03a9dd42ed1af" target="_blank">百度统计</a><!--
                -
                <script type="text/javascript">                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1260419029'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260419029' type='text/javascript'%3E%3C/script%3E"));</script>
                -
                --><a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"> 浙ICP备15008004号-1</a>
            </span>
		</div>
	</div>
<div  id="toTop">Back to Top</div>
<script type="text/javascript">
    window.onload = function () {
        $(".img_loading").removeClass("img_loading");
        $(".silde-title").show();

        $(".comment_txt").each(function () {
            $(this).html($(this).html().replace(/\[Q([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>"));
            $(this).html($(this).html().replace(/\[yc_([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>"));
            $(this).html($(this).html().replace(/\[ali_([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>"));
        })
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[Q([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[yc_([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[ali_([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>"));
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[Q([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[yc_([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[ali_([0-9]*)\]/g, "<img src='/static/picture/$1.gif'/>");
    }
</script>
</footer>