<header class="myheader">
	<div class="top">
		<!--头像左边部分-->
		<div class="top-left">
		  <div class="logo"><a href="/index.html"><img style=" margin-top:10px;" src="/static/picture/ava.gif"/></a></div>
				<!--滚动消息-->
			<div class="web-xiaoxi">
				<i class="el-speaker fa fa-volume-up"></i>
				<ul class="mulitline">
					<li>本博客还处于搭建阶段。</li>
					<li>本站内容仅供学习和参阅，不做任何商业用途。</li>
					<li>内容如有侵犯，请立即联系管理员删除</li>
				</ul>
			</div>
				<!--END 消息 -->
			<!--手机菜单按钮-->
			<div class="mobile-nav"><i class="el-lines"></i><i class="el-remove"></i></div>
		</div>
	    <!--电脑导航开始-->
		<nav class="mynav">
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="{% url 'index' %}" title="首页">首页</a>
                </li>
				<li id="nav_2">
					<a href="{% url 'system:about_me' %}" title="关于">关于</a>
				</li>

                 <li id="nav_3">
                     <a href="{% url 'system:write_some' %}" title="每天的牢骚">随笔</a>
                 </li>

                    <li id="nav_4" class="drop">
                        <a href="/news/index.html" title="分类">分类<i class="fa fa-chevron-down el-chevron-down"></i></a>
                            <div class="drop-nav orange-text ">
                            <ul>

                             <li id="nav_53"><a href="{% url 'article:article_list' %}?type=jswz">技术文章</a></li>

                             <li id="nav_54"><a href="{% url 'article:article_list' %}?type=fxbj">复习笔记</a></li>

                             <li id="nav_56"><a href="{% url 'article:article_list' %}?type=qwwz">趣味文摘</a></li>

                             <li id="nav_57"><a href="{% url 'article:article_list' %}?type=cxbc">程序报错</a></li>

                            <li id="nav_no"><a href="/music.html">在线音乐</a></li>
                            </ul>
                        </div>
                    </li>

                <li id="nav_5">
					<a href="/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/photo.html" title="我的相册">相册</a>
                </li>
                <li id="nav_7">
                    <a href="/down.html" title="我的素材">素材</a>
                </li>
                <li id="nav_9">
                    <a href="/video.html" title="视频">视频</a>
                </li>
				<li id="nav_8">
					<a href="/feedback.html" title="在这里写下你想说的话">留言</a>
				</li>
			</ul>
			 <!--移动的滑动-->
        <div class="move-bg"></div>
        <!--移动的滑动 end-->
		</nav>
		<!--这里是手机导航-->
		<div class="mob-menu">
		<!--手机顶部搜索-->
			<div class="search ">
				<form>
					<div class="search-index">
						<input name="keywords" type="text"  placeholder="请输入关键字" id="keywords" onfocus="this.placeholder=''" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keywords');return false};"  onblur="this.placeholder='请输入关键字'"/>
						<i class="el-search icon-magnifier" onclick="SiteSearch('/search.html', '#keywords');"><input value=" "type="submit"/></i>
					</div>
				</form>
			</div>
			<!--手机下拉菜单-->
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.html" title="">首页</a>
                </li>
				<li id="nav_2">
					<a href="/content/about.html" >关于</a>
				</li>
                <li id="nav_3">
                    <a href="/shuo.html" >说说</a>
                </li>

                    <li id="nav_4" class="mob-drop">
                        <a href="javascrip:;" title="分类">分类<i></i></a>
                            <ul class="mob-dropmenu">

                             <li id="nav_53"><a href="/news/53.html">生活哲理</a></li>

                             <li id="nav_54"><a href="/news/54.html">程序交流</a></li>

                             <li id="nav_56"><a href="/news/56.html">趣闻杂谈</a></li>

                             <li id="nav_57"><a href="/news/57.html">一场旅行</a></li>

                             <li id="nav_no"><a href="/music.html">在线音乐</a></li>
                            </ul>
                    </li>

                <li id="nav_5">
					<a href="/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/photo.html" >相册</a>
                </li>
                <li id="nav_7">
                    <a href="/down.html" >素材</a>
                </li>
                <li id="nav_9">
                    <a href="/video.html" >视频</a>
                </li>
				<li id="nav_8">
					<a href="/feedback.html" title="">留言</a>
				</li>
			</ul>
		</div>
	</div>
</header>