{% extends 'base/base.html' %}
{% load article_extras %}
        {% block container %}
        <div class="swiper-container">
			<ul class="slides swiper-wrapper">
                {% for s in slider %}
                <li class="swiper-slide img_loading">
					<a href="{{ s.target_url }}" title="{{ s.desc }}">
						<img src="{{ s.img.url }}" alt="{{ s.name }}" />
					</a>
					<div class="swiper-pagination"></div>
					<span class="silde-title" style="display:none;">{{ s.name }}</span>
				</li>
                {% endfor %}
			</ul>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
        <div class="arclist">
		<h4 class="index-title homeh4"><a href=""><i class="el-certificate"></i>最新文章<small>New Article</small></a></h4>
			<!--列表开始-->
			<ul>
                {% if top_art %}
                    <li id="New">

					<div class="arcimg">
					    <img src="{{ top_art.img.url }}" alt="{{ top_art.title }}" title="{{ top_art.title }}">
					</div>
					<div class="arc-right">
						<h4 class="blue-text"><a href="{% url 'article:content' top_art.uid %}?num=0&type=index" title="{{ top_art.title }}">{{ top_art.title }}</a></h4>
						<p>{{ top_art.content|content_len }}...</p>
						<ul>
							<li><a title="文章发表时间{{ top_art.created_at|date:'Y-m-d H:m:s ' }} "><i class="icon-calendar"></i> {{ top_art.created_at|date:'Y-m-d H:m:s ' }}</a></li>

                            <li><a href="javascript:;" title="作者： {{ top_art.author.name }}"><i class="icon-user"></i>{{ top_art.author.name }}</a></li>

							<li><a href="javascript:;" title="评论数"><i class="icon-speech" i="158"></i><em>{{ top_art.comment.all.count }}</em></a></li>
							<li><a title="浏览数"><i class="icon-eye" i="158"></i><em>{{ top_art.view_count }}</em></a></li>
							<li><a href="{% url 'article:article_list' %}?type={{ top_art.classify.code }}" title="查看分类"><i class="fa fa-th-list"></i>{{ top_art.classify.name }}</a></li>
						</ul>
					</div>
				</li>
                {% endif %}
                {% for item in art %}
                <li {% if item.is_best %} id="tuijian"{% endif %}>
                
					<div class="arcimg">
					    <img src="{{ item.img.url }}" alt="{{ item.title }}" title="{{ item.title }}">
					</div>
					<div class="arc-right">
						<h4 class="blue-text"><a href="{% url 'article:content' item.uid %}?num={{ forloop.counter0 }}&type=index" title="{{ item.title }}">{{ item.title }}</a></h4>
						<p>{{ item.content|content_len }}...</p>
						<ul>
							<li><a title="文章发表时间{{ item.created_at|date:'Y-m-d H:m:s ' }} "><i class="icon-calendar"></i> {{ item.created_at|date:'Y-m-d H:m:s ' }}</a></li>
                            
                            <li><a href="javascript:;" title="作者： {{ item.author.name }}"><i class="icon-user"></i>{{ item.author.name }}</a></li>
                            
							<li><a href="javascript:;" title="评论数"><i class="icon-speech" i="158"></i><em>{{ item.comment.all.count }}</em></a></li>
							<li><a title="浏览数"><i class="icon-eye" i="158"></i><em>{{ item.view_count }}</em></a></li>
							<li><a href="{% url 'article:article_list' %}?type={{ item.classify.code }}" title="查看分类"><i class="fa fa-th-list"></i>{{ item.classify.name }}</a></li>
						</ul>
					</div>
				</li>
                {% endfor %}
                
{#                <li id="New">#}
{#                #}
{#					<div class="arcimg">#}
{#					    <img src="/static/picture/201609172046233802.png" alt="文档在线预览" title="文档在线预览">#}
{#					</div>#}
{#					<div class="arc-right">#}
{#						<h4 class="blue-text"><a href="/news/show-136.html" title="文档在线预览">文档在线预览</a></h4>#}
{#						<p>以前单独做一个OA系统的时候，后期客户要求工作审批模块增加上传off文档支持在线预览功能，由于第一次做，没什么经验，在网上找了很多关于在线预览的方法，不是要求安装插件就是要收费，后在根据一个列子也完成了在线预览的功能，但是必须服务器上需要安装off2008以上的版本才…</p>#}
{#						<ul>#}
{#							<li><a title="汪汪 2016-09-17 发表 "><i class="icon-calendar"></i> 2016-09-17</a></li>#}
{#                            #}
{#                            <li><a href="/news/show-136.html" title="作者： 汪汪"><i class="icon-user"></i>汪汪</a></li>#}
{#                            #}
{#							<li><a href="/news/show-136.html" title="评论数"><i class="icon-speech" i="136"></i><em>0</em></a></li>#}
{#							<li><a title="浏览数"><i class="icon-eye" i="136"></i><em>0</em></a></li>#}
{#							<li><a href="/news/54.html" title="查看分类"><i class="fa fa-th-list"></i>程序交流</a></li>#}
{#						</ul>#}
{#					</div>#}
{#				</li>#}

                
			</ul>
			<!--列表结束-->
        </div>





		<div class="sucailist mob-hidden">
			<h4 class="index-title"><a href=""><i class="el-certificate"></i>最新商品<small>New sucai</small></a></h4>
			<!--列表开始-->
			<ul class="su">

                {% for g in goods %}
                <li id="tuijian" class="su-li">
                
                    <a href="{% url 'mall:down_content' g.uid %}?num=0" title="{{ g.goods_name }}">
					<div class="sucaiimg img_loading">
					    <img  src="{{ g.goods_image.url }}" alt="{{ g.goods_name }}"/>
					</div>
				  </a>
					<div class="sucai-right">
						<h4 class="blue-text">{{ g.goods_name }}</h4>
						<ul>
							<li><a title=" {{ g.created_at }} 上架 "><i class="el-time"></i> {{ g.created_at }}</a></li>
							<li class="mob-hidden">
							</li>
						</ul>
					</div>
				</li>
                {% endfor %}
			</ul>
			<!--列表结束-->
		</div>
        {% endblock %}
    <!--左侧结束-->
    <!--右侧-->

    
<!--=========右侧开始==========-->

<!--=========右侧结束==========-->
    <!--/右侧-->

    <!--Header-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->

<!---END 底部开始-->
    <!--/Header-->
    {% block footjs %}
   <script type="text/javascript">
       $(function () {
           var swiper = new Swiper('.swiper-container', {
               nextButton: '.swiper-button-next',
               prevButton: '.swiper-button-prev',
               pagination: '.swiper-pagination',
               paginationType: 'fraction',
               centeredSlides: true,
               autoplay: 5500, //自动播放时间
               autoHeight: true //自动高度
           });
           //瀑布流
           $('.su').jaliswall({ item: '.su-li' });
       });
       {#ajaxEash(".icon-speech", "/", 0);#}
       {#ajaxEash(".icon-eye", "/", 1);#}
	</script>
    {% endblock %}