{% extends 'user_base/user_base.html' %}

<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

    <!--/Header-->

            <!--左侧导航-->


            <!--/左侧导航-->
            <!--右侧内容-->
            {% block content %}
            <div class="member-index fr w955 ">
                
                <div class="left fl">
                    <h3>亲爱的博粉， 欢迎您回到 KevIn`s Blog 博客！</h3>
                    <p class="msg">您的余额：<span>￥{{ user.balance }}元</span></p>
                    <p class="msg">您的等级：<span>{{ user.level }}</span></p>
                    <p class="msg">成长值： <span>{{ user.growth_value }}点</span></p>
                    <dl class="orders-items fl wfs">
                        <dt class="fl wfs">
                            <h4 class="fl">
                                最新订单</h4>
                            <a class="btn btn-danger btn-xs fr" href="/user/order-list.html">更多订单</a>
                        </dt>
                        
                        <!--取得一个DataTable-->
                        
                        <!--取得分页页码列表-->
                        
                        <dd class="fl wfs" >
                            <div class="orders-no fl wfs">
                                <img src="/static/images/orders-no.png" alt="">
                                <p>
                                    您最近还没有在网站买过东西哦，快去逛逛吧~</p>
                            </div>
                        </dd>
                        
                    </dl>
                </div>
                <div class="right fr">
                    <div class="data">
                        <p>
                            登录统计</p>
                        <div>
                            <span class="email"><!--<i class="fa fa-random"></i>-->本次登录IP：{{ user.ip }}</span>
                            <span class="email">上次登录IP：{{ user.before_ip }}</span>
                            <span class="email">注册时间：{{ user.date_joined }}</span>
                            <span class="email">上次登录时间：{{ user.last_login }}</span>
                        </div>
                    </div>
                    <div class="data">
                        <p>
                            账户统计</p>
                        <div>
                            <span class="email">账户余额：￥{{ user.balance }}元</span>
                            <span class="email">账户积分：{{ user.integral }}分</span>
                            <span class="email">未完成订单：0</span>
                            <span class="email">未读消息：0</span>
                        </div>
                    </div>
                    <div class="mt20">
                        <!--<a href="http://dsc.ecmoban.com" target="_blank">
                            <img src="http://member.ecmoban.com/content/themes/ecmoban2014/images/member-index-banner.png?2016" title="查看详情">
                        </a>-->
                        <h3>暂无法使用账户充值功能，请勿尝试！！！</h3>
                    </div>
                </div>
                
            </div>
            {% endblock %}
            <!--/右侧内容-->

    <!--Footer-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
    <!--/Footer-->

