{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>会员中心 - KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->
<!--导航结束-->

    <!--/Header-->

            <!--左侧导航-->

            <!--/左侧导航-->
            <!--右侧内容-->
            {% block content %}
            <div class="member-index fr w955 ">
                
                <!--修改密码-->
                <link rel="stylesheet" href="/css/validate.css" />
                <script type="text/javascript" src="/scripts/jquery/jquery.form.min.js"></script>
                <script type="text/javascript" src="/scripts/jquery/Validform_v5.3.2_min.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $(".mypwd").addClass("demo-dd-a-now");
                    })
                </script>
                <script type="text/javascript">
                    $(function () {
                        //初始化表单
                        AjaxInitForm('#pwdForm', '#btnSubmit', 1);
                    });
                </script>
                <h3 class="operate-title mt20">
                    修改密码</h3>
                <div class="operate-items mt20">
                    <a class="j-item " href="{% url 'accounts:user_center_proinfo' %}">个人资料</a> <a class="j-item now"
                        href="/user/center/password.html">修改密码</a>
                </div>
                <div class="orders j-orders" style="display: block;">
                    <form name="pwdForm" >
                    <div class="form-box">
                        <dl>
                            <dt>用户名：</dt>
                            <dd>
                                {{ user.username }}</dd>
                        </dl>
                        <dl>
                            <dt>旧密码：</dt>
                            <dd>
                                <input name="old_passwd" id="old_passwd" type="password" class="input txt form-control"
                                    datatype="*6-20" />
                                <span id="old_passwd_msg" class="" style="color: red"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>新密码：</dt>
                            <dd>
                                <input name="new_passwd" id="new_passwd" type="password" class="input txt form-control"
                                    datatype="*6-20"/>
                                <span id="new_passwd_msg" class="" style="color: red"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>确认新密码：</dt>
                            <dd>
                                <input name="new_repasswd" id="new_repasswd" type="password" class="input txt form-control"
                                    datatype="*" />
                                <span id="new_repasswd_msg" class="" style="color: red"></span>
                            </dd>
                        </dl>
                        <dl>
                            <dt></dt>
                            <dd class="feed-sub">
                                <input name="btnSubmit" id="btnSubmit" type="button" class="btn btn-inverse" value="确认修改" />
                            </dd>
                        </dl>
                    </div>
                    </form>
                </div>
                <!--/修改密码-->
                
            </div>
            {% endblock %}
            <!--/右侧内容-->

    <!--Footer-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
    <!--/Footer-->
{% block footjs %}
    <script>
        $('#btnSubmit').click(function () {
            let old_passwd = $('#old_passwd').val();
            let new_passwd = $('#new_passwd').val();
            let new_repasswd = $('#new_repasswd').val();
            let sendData = {
                old_passwd:old_passwd,
                new_passwd:new_passwd,
                new_repasswd:new_repasswd,
                csrfmiddlewaretoken:'{{ csrf_token }}'
            };
            $.ajax({
                url:'{% url "accounts:user_center_password" %}',
                type:'post',
                data:sendData,
                success:function (rest) {
                    if(rest.params === 'old_passwd'){
                        $('#old_passwd_msg').attr('class','Validform_wrong');
                        $('#old_passwd_msg').text(rest.data);
                        $('#new_repasswd_msg').text('');
                        $('#new_passwd_msg').text('');
                    }else if(rest.params === 'new_passwd'){
                        $('#new_passwd_msg').attr('class','Validform_wrong');
                        $('#new_passwd_msg').text(rest.data);
                        $('#new_repasswd_msg').text('');
                        $('#old_passwd_msg').text('');
                    }else if(rest.params === 'diff'){
                        $('#new_repasswd_msg').attr('class','Validform_wrong');
                        $('#new_repasswd_msg').text(rest.data);
                        $('#new_passwd_msg').text('');
                        $('#old_passwd_msg').text('');
                    }else {
                        $('#new_repasswd_msg').attr('class','Validform_checktip Validform_right');
                        $('#new_passwd_msg').attr('class','Validform_checktip Validform_right');
                        $('#old_passwd_msg').attr('class','Validform_checktip Validform_right');
                        $('#new_repasswd_msg').text('');
                        $('#new_passwd_msg').text('');
                        $('#old_passwd_msg').text('');
                        alert('密码修改成功');
                        $.get('{% url "accounts:user_logout" %}');
                        location.href="{% url "accounts:user_login" %}";

                    }
                },
                error:function (rest) {
                    alert('no')
                }

            })
        })
    </script>
{% endblock %}
