{% extends 'base/base.html' %}
{% block title %}
    <title>随笔 - KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
{% block container %}
        <article>
            <div class="shuos-area bg-color" >
			    <div class="shuos-ava" ><img src="/static/picture/ava.gif" />
				    <a class="blue-text"><i class="el-headphones"></i> {{ object.name }} <time>{{ object.created_at }}  </time>说：</a>
			    </div>
			    <div class="shuos-content img_loading">
                    <p>{{ object.content }}</p><p><a href="{{ object.img.url }}" title="随笔图片" data-latex=""><img src="{{ object.img.url }}" alt="随笔图片"/></a></p>
                </div>
				<ul>
				    <li><a title="评论数"><i class="el-comment icon-speech"></i><em id="comment">0</em></a></li>
			        <li><a title="浏览次数"><i class="el-eye-open icon-eye"></i><em id="view">{{ object.view_count }}</em></a></li>
			        <li><a title="汪汪位于四川省成都市 "><i class="el-time icon-pointer"></i> {{ object.address }}</a></li>
				</ul>
                <script type="text/javascript">ajaxComment("#comment","/",153); ajaxView("#view","/",153);</script>
		    </div>	
        </article>
        <!--用户评论-->
        
            <h4 class="index-title">
                <i class="el el-comment-alt icon-speech"></i>
                 当前共有<span id="comment2"> 0 </span> 条评论</h4>
            <!--取得评论总数-->
    <link rel="stylesheet" type="text/css" href="/static/css/validate.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pagination.css" />
    <link rel="stylesheet" type="text/css" href="/static/scripts/artdialog/ui-dialog.css" />
    <script type="text/javascript" charset="utf-8" src="/static/scripts/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/scripts/jquery/jquery.pagination.js"></script>
    <script type="text/javascript">
      $(function(){
        //初始化评论列表
        pageInitComment();
        //初始化发表评论表单
        AjaxInitForm('#comment_form', '#btnSubmit', 1, '', pageInitComment);
      });
      //初始化评论列表
      function pageInitComment(){
	    AjaxPageList('#comment_list', '#pagination', 10, 1, '/tools/submit_ajax.ashx?action=comment_list&article_id=153', '/templates/myblog/images/user-avatar.png');
      }
      //通过调用新浪IP地址库接口查询用户当前所在国家、省份、城市、运营商信息
      $.getScript('http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js', function () {
          var citys = remote_ip_info.province + "省" + remote_ip_info.city + "市";
          $("#mycity").val(citys);
          
      });
    </script>
<div class="comment-area">
    <ul id="comment_list">
        <li>
            <!--放置页码-->
            <div class="page-box" style="margin-left:-8px;">
                <div id="pagination" class="digg"></div>
            </div>
            <!--/放置页码-->
        </li>
	</ul>
</div>
<!--评论表单-->
<h3 class="form-btn blue-text" ><a href="javascript:;" ><i class="el-edit icon-note"></i>我要留言 / 展开表单</a></h3>
<div id="Coon" class="form-zd form-in">
<!--表单开始-->
	<form id="comment_form" url="/tools/submit_ajax.ashx?action=comment_add&article_id=153">
   		<ul class="hdmenu">
            
            <li><i class="el-ok-sign icon-close"></i> 评论审核未开启哦！</li>
            
            <li><input name="jizhu" type="checkbox" value="1" checked class="comment-fuxuna" /> 记住信息</li> 
            <li><input name="huifu" type="checkbox" value="1" checked class="comment-fuxuna" /> 邮件回复</li>
        </ul>
        <!----昵称------->
        <div class="input-prepend">
	        <i class="el-user icon-user"></i>
	        <input name="u_name" type="text"  id="u_name" value="" size="16" datatype="*" sucmsg=" " placeholder="您的称呼（必须）" />
        </div>
        <!------邮箱----->	
        <div class="input-prepend">
           <i class="el-envelope icon-envelope"></i>
            <input name="u_mail" type="text"  id="u_mail" value="" size="16" placeholder="您的邮箱（选填）" />
            <input name="mycity" type="text"  id="mycity" value="" style="display:none"/>
        </div>
        <!----网址------->	
        <div class="input-prepend">
           <i class="el-globe icon-globe"></i>
            <input name="u_url" type="text"  id="u_url" size="16" value="" placeholder="您的网站（选填）" />
        </div>
        <!--表情按钮-->
        <div class="face-box">
            <div id="face-btn"><a href="javascript:void(0);" ><img src="/images/face/mr/0.gif" width='25'/></a></div>
            <textarea id="txtContent" name="txtContent" class="input" datatype="*" sucmsg=" " placeholder="说点什么吧..."></textarea>
            <!--表情--------->
			<div class="face-main" id="face-area" style="display:none;">
				<ul class="face-tab clearfix">
					<li><a href="javascript:void(0);" class="selected-a">默认</a></li>
					<li><a href="javascript:void(0);">阿狸</a></li>	
					<li><a href="javascript:void(0);">贴吧表情</a></li>
				</ul>
				<ul class="face-ul clearfix face_selected"></ul>
				<ul class="face-ul clearfix" style="display:none;"></ul>
				<ul class="face-ul clearfix" style="display:none;"></ul>
				<ul class="face-ul clearfix" style="display:none;"></ul>
				<a href="javascript:void(0);" class="face-close"><i class="el-remove"></i></a>
			</div>
        </div>
        <!--验证码-->
        <div class="input-prepend yzm">
	        <i class="el-question-sign"></i>
            <input id="txtCode" name="txtCode" type="text" datatype="s4-4" errormsg="请填写4位验证码" sucmsg=" " onkeydown="if(event.ctrlKey&&event.keyCode==13){document.getElementById('btnSubmit').click();return false};"  />
            <span title="点击刷新验证码?" style=" float: left;" class="img_code">
                <a href="javascript:;" onclick="ToggleCode(this, '/tools/verify_code.ashx');return false;" >
                    <img src="/tools/verify_code.ashx" width="80" height="22" style="vertical-align:middle;" />
                </a>
            </span>
	        
        </div>
        <!--提交表单--------->                
        <div class="feed-sub"><input type="submit" class="btn btn-inverse" value="提交留言" onclick="return checkform()" />  </div>	
	</form>
 <!--表单结束--> 	
</div>

            <script type="text/javascript">ajaxComment("#comment2","/",153); </script>
        
        <!--用户评论-->
{% endblock %}
<!--Header-->
<!---底部开始-->

<!---返回顶部-->
<!--换肤--->

<div class="select-skin">
<div class="skin-btn">
    <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
</div>

<div class="skin-content">
    <h1>选择风格<span class="skin-close">关闭</span></h1>
    <div class="skin-content-list">
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a></div>
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a></div>
		 <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;" class="btn3">清爽</a></div>
    </div>
</div>	
</div>
<!---END 底部开始-->
<!--/Header-->
<script type="text/javascript">
    $(function () {
        $("nav").find("li").eq(3).addClass("nav-active");
    })
</script>
</body>
</html>
