{% extends 'base/base.html' %}
{% block title %}
    <title>KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
{% block content %}
<div class="container">
    <!--左侧开始-->
	<section style="width:100%;margin-bottom:25px">
		<div class="shuo-area">
            <h4 class="index-title"> 
		        <a href="/music.html"><i class="el-th-list"></i>在线音乐</a> 
	        </h4>	
			<div class="arclist">
				<iframe id="mainFrame" src="http://fm.baidu.com" height="550" width="100%" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
      </section>
    <!--左侧结束-->
</div>
{% endblock %}
    <!--Header-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
    <!--/Header-->

