<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>冠美博客</title>
    <meta name="keywords" content="冠美博客" />
    <meta name="description" content="冠美博客" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/templates/myblog/images/favicon.ico" />
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/public.css">
    <link rel="stylesheet" href="static/css/animation.css">
    <link rel="stylesheet" type="text/css" href="static/css/skin_1.css" title="qingxin">
    <link rel="stylesheet" type="text/css" href="static/css/skin_2.css" title="jianyue" >
    <link rel="stylesheet" type="text/css" href="static/css/skin_3.css" title="qingshuang" >
    <link rel="stylesheet" href="static/css/font-icon.css"/>
    <link rel="stylesheet" href="static/css/face.css"/>
    <script type="text/javascript" src="static/js/jquery.2.1.4.min.js"></script>
    <script>
        $("html").append("<div class='jiazai'><img src='static/picture/loading.gif'/><span>正在加载中请等待...</span></div>")
    </script>
    <script type="text/javascript" src="static/js/my.js"></script>
    <script type="text/javascript" src="static/js/superbg.min.js"></script>
    <script type="text/javascript" src="static/js/superbg-custom.js"></script>
    <script type="text/javascript" src="static/js/album.js"></script>
    <script type="text/javascript" src="static/js/tooltip.js"></script>
    <script type="text/javascript" src="static/js/face.js"></script>
    <script type="text/javascript" src="static/js/layer.js" ></script>
    <script type="text/javascript" src="static/js/checkform.js" charset="gb2312"></script>
    <script type="text/javascript" src="static/js/skin.js"></script>
</head>
<body class="nobg" >
<!--Header-->
<link href="static/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->
<header class="myheader">
	<div class="top">
		<!--头像左边部分-->
		<div class="top-left">
		  <div class="logo"><a href="/index.html"><img style=" margin-top:10px;" src="static/picture/201612141101549267.png"/></a></div>
				<!--滚动消息-->
			<div class="web-xiaoxi">
				<i class="el-speaker fa fa-volume-up"></i>
				<ul class="mulitline">
					<li>做了一些小调整，使之看起来更像博客。</li>
					<li>本站内容仅供学习和参阅，不做任何商业用途。</li>
					<li>内容如有侵犯，请立即联系管理员删除</li>
				</ul>
			</div>
				<!--END 消息 -->
			<!--手机菜单按钮-->
			<div class="mobile-nav"><i class="el-lines"></i><i class="el-remove"></i></div>
		</div>
	    <!--电脑导航开始-->
		<nav class="mynav">
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.html" title="首页">首页</a>
                </li>
				<li id="nav_2">
					<a href="/content/about.html" title="关于">关于</a>
				</li>
                
                 <li id="nav_3">
                     <a href="/shuo.html" title="每天的牢骚">说说</a>
                 </li>
                 
                    <li id="nav_4" class="drop">
                        <a href="/news/index.html" title="分类">分类<i class="fa fa-chevron-down el-chevron-down"></i></a>
                            <div class="drop-nav orange-text ">
                            <ul>
                            
                             <li id="nav_53"><a href="/news/53.html">生活哲理</a></li>
                            
                             <li id="nav_54"><a href="/news/54.html">程序交流</a></li>
                            
                             <li id="nav_56"><a href="/news/56.html">趣闻杂谈</a></li>
                            
                             <li id="nav_57"><a href="/news/57.html">一场旅行</a></li>
                            
                            <li id="nav_no"><a href="/music.html">在线音乐</a></li>
                            </ul>
                        </div>
                    </li>
                
                <li id="nav_5">
					<a href="/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/photo.html" title="我的相册">相册</a>
                </li>
                <li id="nav_7">
                    <a href="/down.html" title="我的素材">素材</a>
                </li>
                <li id="nav_9">
                    <a href="/video.html" title="视频">视频</a>
                </li>
				<li id="nav_8">
					<a href="/feedback.html" title="在这里写下你想说的话">留言</a>
				</li>
			</ul>
			 <!--移动的滑动-->
        <div class="move-bg"></div>
        <!--移动的滑动 end-->
		</nav>
		<!--这里是手机导航-->
		<div class="mob-menu">
		<!--手机顶部搜索-->
			<div class="search ">
				<form>
					<div class="search-index">
						<input name="keywords" type="text"  placeholder="请输入关键字" id="keywords" onfocus="this.placeholder=''" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keywords');return false};"  onblur="this.placeholder='请输入关键字'"/>
						<i class="el-search icon-magnifier" onclick="SiteSearch('/search.html', '#keywords');"><input value=" "type="submit"/></i>
					</div>
				</form>
			</div>
			<!--手机下拉菜单-->
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.html" title="">首页</a>
                </li>
				<li id="nav_2">
					<a href="/content/about.html" >关于</a>
				</li>
                <li id="nav_3">
                    <a href="/shuo.html" >说说</a>
                </li>
                
                    <li id="nav_4" class="mob-drop">
                        <a href="javascrip:;" title="分类">分类<i></i></a>
                            <ul class="mob-dropmenu">
                            
                             <li id="nav_53"><a href="/news/53.html">生活哲理</a></li>
                            
                             <li id="nav_54"><a href="/news/54.html">程序交流</a></li>
                            
                             <li id="nav_56"><a href="/news/56.html">趣闻杂谈</a></li>
                            
                             <li id="nav_57"><a href="/news/57.html">一场旅行</a></li>
                            
                             <li id="nav_no"><a href="/music.html">在线音乐</a></li>
                            </ul>
                    </li>
                
                <li id="nav_5">
					<a href="/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/photo.html" >相册</a>
                </li>
                <li id="nav_7">
                    <a href="/down.html" >素材</a>
                </li>
                <li id="nav_9">
                    <a href="/video.html" >视频</a>
                </li>
				<li id="nav_8">
					<a href="/feedback.html" title="">留言</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
	<section style="width:100%;margin-bottom:25px">
		<div class="shuo-area">
            <h4 class="index-title"> 
		        <a href="/music.html"><i class="el-th-list"></i>在线音乐</a> 
	        </h4>	
			<div class="arclist">
				<iframe id="mainFrame" src="http://fm.baidu.com" height="550" width="100%" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
      </section>
    <!--左侧结束-->
</div>
    <!--Header-->
    <!---底部开始-->
<footer>
	<div class="footer-area">
	<!--博客相关-->
	<div class="about-blog">
		<h4>素材排行</h4>
		<div class="ft-part1">
			<!--文章排行-->
				<ul class="paihang-ul" style="display:block;width:100%;">
                    
                    <li><span></span><a href="/down/show-142.html" title=" Bootstrap响应CRM系统后台模板"> Bootstrap响应CRM系统后台模板<b>(167)</b></a></li>
                    
                    <li><span></span><a href="/down/show-132.html" title=" 懒人OA（改）"> 懒人OA（改）<b>(133)</b></a></li>
                    
                    <li><span></span><a href="/down/show-118.html" title=" 旅游网源码"> 旅游网源码<b>(77)</b></a></li>
                    
                    <li><span></span><a href="/down/show-157.html" title=" 全民经纪人"> 全民经纪人<b>(76)</b></a></li>
                    
                    <li><span></span><a href="/down/show-143.html" title=" Atom ios7风格cms管理模板"> Atom ios7风格cms管理模板<b>(69)</b></a></li>
                    
				</ul>
		</div>
	</div>
	<!--最新留言-->
	<div class="close-fd mob-hidden">
		<h4>留言频道</h4>
		<ul >	
            
            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 晓晓 的网站看看?">
			    	    <img class="img-circle" src="static/picture/4.jpg" alt="晓晓"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>晓晓</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="[Q0]不错,留言标题什么意思">[Q0]不错,留言标题什么意思</a>
			    </div>
			</li>
            
            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 背包客 的网站看看?">
			    	    <img class="img-circle" src="static/picture/22.jpg" alt="背包客"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>背包客</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="哟西">哟西</a>
			    </div>
			</li>
            
            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 小兔子乖乖 的网站看看?">
			    	    <img class="img-circle" src="static/picture/24.jpg" alt="小兔子乖乖"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>小兔子乖乖</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="小兔子乖乖，把门开开[ali_4]">小兔子乖乖，把门开开[ali_4]</a>
			    </div>
			</li>
            
        </ul>
	</div>
	
	<!--图文频道-->
	<div class="tuwen-pd mob-hidden">
		<h4>图文频道</h4>
		<ul >
            
            <li>
			    <a href="/news/show-158.html" title="中国已进入互害模式，人人逃不脱！">
			    <img src="static/picture/201610111454266343.jpg" alt="中国已进入互害模式，人人逃不脱！" title="中国已进入互害模式，人人逃不脱！" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-149.html" title="汪汪博客再次更新">
			    <img src="static/picture/201609221724121994.png" alt="汪汪博客再次更新" title="汪汪博客再次更新" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-144.html" title="jwplayer兼容主流视频格式播放">
			    <img src="static/picture/201609181738278456.png" alt="jwplayer兼容主流视频格式播放" title="jwplayer兼容主流视频格式播放" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-111.html" title="（2016-9-10更新）汪汪博客net源码下载">
			    <img src="static/picture/201609171044440839.jpg" alt="（2016-9-10更新）汪汪博客net源码下载" title="（2016-9-10更新）汪汪博客net源码下载" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-154.html" title="Feedback+留言插件增强版">
			    <img src="static/picture/201609261655116264.jpg" alt="Feedback+留言插件增强版" title="Feedback+留言插件增强版" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-155.html" title="JS获取客户端信息">
			    <img src="static/picture/201609292303066507.jpg" alt="JS获取客户端信息" title="JS获取客户端信息" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-150.html" title="如果哪天我“没”了， 支付宝里的钱怎么办？">
			    <img src="static/picture/201609231135499029.jpg" alt="如果哪天我“没”了， 支付宝里的钱怎么办？" title="如果哪天我“没”了， 支付宝里的钱怎么办？" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-108.html" title="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出">
			    <img src="static/picture/201609131550365913.jpg" alt="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出" title="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-110.html" title="年轻人，不要再贷款买房了！">
			    <img src="static/picture/201609131550004500.jpg" alt="年轻人，不要再贷款买房了！" title="年轻人，不要再贷款买房了！" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-109.html" title="如果想做一件事，先别忙着发朋友圈">
			    <img src="static/picture/201609131550179813.jpg" alt="如果想做一件事，先别忙着发朋友圈" title="如果想做一件事，先别忙着发朋友圈" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-121.html" title="什么样的博客容易被评论？">
			    <img src="static/picture/201609111931276585.jpg" alt="什么样的博客容易被评论？" title="什么样的博客容易被评论？" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-129.html" title="外链的几种形式及权重">
			    <img src="static/picture/201609132140209769.jpg" alt="外链的几种形式及权重" title="外链的几种形式及权重" class="img-circle"/>
			    </a>
		    </li>
            
		</ul>
	</div>
		<!--数据统计-->
	<div class="data-count ">
		<h4>数据统计</h4>
		<ul>
			<li><span><i class="el-picture icon-social-twitter"></i>图片数量：</span><a title="相册" class="footer_picture"></a> 张</li>
			<li><span><i class="el-headphones icon-social-twitter"></i>说说数量：</span><a title="说说" class="footer_headphones"></a> 条</li>
			<li><span><i class="el-pencil icon-social-twitter"></i>文章数量：</span><a title="文章" class="footer_pencil"></a> 篇</li>
			<li><span><i class="el-comment icon-social-twitter"></i>留言数量：</span><a title="留言数" class="footer_comment"></a> 条</li>
			<li><span><i class="el-comment-alt icon-social-twitter"></i>评论数量：</span><a title="评论数" class="footer_comment_alt"></a> 条</li>
			<li><span><i class="el-paper-clip icon-social-twitter"></i>素材个数：</span><a title="素材" class="footer_paper_clip"></a> 个</li>
			<!--<li><span><i class="el-cog icon-social-twitter"></i>运行天数：</span><a title="汪汪博客 已正常运行 312 天">312</a> 天</li>
			<li><span><i class="el-adjust-alt icon-social-twitter"></i>访问统计：</span><a title="累计访问116,900">116,900</a> 次</li>-->
		</ul>
	</div>

	</div>
	<!--底部导航-->
	<div class="foot-nav">
		<div class="copy-right"><span >CopyRight © 2015-2016 冠美博客     Design by coseo.cn</span></div>
		<div class="bottom-nav">
			<span>
                <a href="http://tongji.baidu.com/web/welcome/ico?s=a085b9cd4641b33068c03a9dd42ed1af" target="_blank">百度统计</a><!--
                -
                <script type="text/javascript">                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1260419029'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260419029' type='text/javascript'%3E%3C/script%3E"));</script>
                -
                --><a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"> 浙ICP备15008004号-1</a>
            </span>
		</div>
	</div>
<div  id="toTop">Back to Top</div>
<script type="text/javascript">
    window.onload = function () {
        $(".img_loading").removeClass("img_loading");
        $(".silde-title").show();

        $(".comment_txt").each(function () {
            $(this).html($(this).html().replace(/\[Q([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
            $(this).html($(this).html().replace(/\[yc_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
            $(this).html($(this).html().replace(/\[ali_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        })
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[Q([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[yc_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[ali_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[Q([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[yc_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[ali_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>");
    }
</script>
</footer>
<!---返回顶部-->
<!--换肤--->

<div class="select-skin">
<div class="skin-btn">
    <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
</div>

<div class="skin-content">
    <h1>选择风格<span class="skin-close">关闭</span></h1>
    <div class="skin-content-list">
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a></div>
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a></div>
		 <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;" class="btn3">清爽</a></div>
    </div>
</div>	
</div>
<!---END 底部开始-->
    <!--/Header-->
</body>
</html>
