{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>购物车 - KevIn`s Blog</title>
{% endblock %}
{% block link %}
    <link href="/static/css/paginations.css" rel="stylesheet" type="text/css" />
    <link href="/static/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/member-center.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="/static/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function ChooseExec(value) {
            if (value === '1'){
                OrderPostBack();
                {#$('#eventLevel').trigger('change.select2');#}
                {#$("#eventLevel option[value='3']").attr("selected","selected");#}
            }else if (value === '2'){
                ExecPostBack()
            }
            $(".first_opt").prop("selected",'selected');
        }
	    function ExecPostBack(checkValue) {
		    if (arguments.length == 1) {
			    ExecDelete('{% url "accounts:user_shopping_del" %}', checkValue, '#turl','#csrf');
		    }else{
			    var valueArr = '';
			    $("input[name='checkId']:checked").each(function(i){
				    valueArr += $(this).val();
				    if(i < $("input[name='checkId']:checked").length - 1){
					    valueArr += ","
				    }
			    });
			    ExecDelete('{% url "accounts:user_shopping_del" %}', valueArr, '#turl','#csrf');
		    }
        }

        function OrderPostBack(checkValue) {
		    if (arguments.length == 1) {
			    CreateOrder('{% url "accounts:user_order_create" %}', checkValue, '#turl');
		    }else{
			    var valueArr = '';
			    $("input[name='checkId']:checked").each(function(i){
				    valueArr += $(this).val();
				    if(i < $("input[name='checkId']:checked").length - 1){
					    valueArr += ","
				    }
			    });
			    CreateOrder('{% url "accounts:user_order_create" %}', valueArr, '#turl');
		    }
        }
    </script>
{% endblock %}

<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->
{% block container %}
<div class="container">
<div class="clearfix">
  <div class="info-wrap">
    <!--左侧导航-->
    <link href="/static/css/member-center.css" rel="stylesheet" type="text/css" />
{#<script src="/static/js/usercenter/member-common.js" type="text/javascript"></script>#}
{% include 'user_base/lside.html' %}

    <!--/左侧导航-->
    
    <!--右侧内容-->
    <div class="member-redpack fr w955">
        <h3 class="operate-title mt20">我的购物车</h3>
        <div class="operate-items mt20">
            <a class="j-item now" href="javascript:;">购物车</a>
            <span style="color: red;font-size: x-small;position:relative;top: 10px">注意:虚拟商品一次仅限购买一个</span>
        </div>
        <div class="redpack j-redpack" style="display:block;">
            <table class="redpack-items">
                <thead>
                    <tr class="redpack-tr1">
                        <th width="50">选择</th>
                        <th align="left">商品图片</th>
                        <th width="15%" align="left">商品名称</th>
                        <th width="15%" align="left">商品单价</th>
                        <th width="15%" align="left">商品数量</th>
                        <th width="15%" align="left">商品总价</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!--取得一个DataTable-->
                     <!--取得分页页码列表-->
                      {% for c in object_list %}
{#                      {% with a=c.article %}#}
                      <tr>
                        <td width="20" align="center">
                          <input name="checkId" class="checkall" type="checkbox" value="{{ c.id }}" >
                        </td>
                        <td><a target="_blank" href="javascript:;"><img src="{{ c.img.url }}" style="width: 140px;height: 60px" alt="{{ c.name }}"></a></td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.price }}</td>
                        <td>{{ c.count }}</td>
                        <td>{{ c.total_price }}</td>
                        <td align="center">
                            <select onchange="ChooseExec(this.value)">
                                <option class="first_opt" value="3">请选择</option>
                                <option value="1">生成订单</option>
                                <option value="2">删除</option>
                            </select>

{#                            <select name="" id="">#}
{#                                <option onclick="OrderPostBack({{ c.id }});" value="" style="">去支付</option>#}
{#                                <option onclick="ExecPostBack({{ c.id }});"  value="">删除</option>#}
{#                            </select>#}
                        </td>
                      </tr>
{#                      {% endwith %}#}
                    {% endfor %}
{#                      <tr><td colspan="5" align="center">暂无记录...</td></tr>#}
                    
                 </tbody>
            </table>
            <div class="page-foot">
              <div class="pagination">
              <div class="list-page">
                  <ul class="post-data">
                      <li><a>共 {{ paginator.count }} 条</a></li>
                  </ul>
              </div>
              <ul>
                  {% if page_obj.has_previous %}
                  <li class="active"><a href="{% url 'accounts:user_shopping_list' %}?page={{ page_obj.previous_page_number }}">上一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">上一页</a></li>
                  {% endif %}
                  {% for p in paginator.page_range %}
                  <li><a href="{% url 'accounts:user_shopping_list' %}?page={{ p }}">{{ p }}</a></li>
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="active"><a href="{% url 'accounts:user_shopping_list' %}?page={{ page_obj.next_page_number }}">下一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">下一页</a></li>
                  {% endif %}
              </ul>
          </div><!--放置页码列表-->
              <div class="page-btns">
                <a onclick="checkAll(this);" href="javascript:;">全选</a>
                <span class="pipe">|</span>
                <a onclick="OrderPostBack();" href="javascript:;" style="color: red">生成订单</a>
                <span class="pipe">|</span>
                <a onclick="ExecPostBack();" href="javascript:;">删除</a>
              </div>
            </div>
        </div>
        <input id="turl" type="hidden" value="{% url 'accounts:user_shopping_list' %}" /><!--存在跳转的URL值-->
        <input type="hidden" id="csrf" value="{{ csrf_token }}">
    </div>
    <!--/右侧内容-->
  </div>
</div>
</div>
{% endblock %}
<!--Footer-->
<!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
<!--/Footer-->
{% block footjs %}

<script type="text/javascript">
    $(function () {
        $(".mycar").addClass("demo-dd-a-now");
    })
    </script>
{% endblock %}