{% extends 'user_base/user_base.html' %}
{% block title %}
    <title>账户余额 - KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->

<!--导航结束-->

<!--/Header-->

    <!--左侧导航-->

    <!--/左侧导航-->
    
    <!--右侧内容-->
{% block content %}
    <div class="member-redpack fr w955" >
      
      <!--充值记录-->
      <link rel="stylesheet" href="/static/css/paginations.css" />
      <script type="text/javascript">
	    function ExecPostBack(checkValue) {
			if (arguments.length == 1) {
				ExecDelete("{% url 'accounts:user_balance_del' %}", checkValue, '#turl','#csrf');
			}else{
				var valueArr = '';
				$("input[name='checkId']:checked").each(function(i){
					valueArr += $(this).val();
					if(i < $("input[name='checkId']:checked").length - 1){
						valueArr += ","
					}
				});
				ExecDelete("{% url 'accounts:user_balance_del' %}", valueArr, '#turl','#csrf');
			}
		}
	  </script>
      <h3 class="operate-title mt20">充值记录</h3>
      <div class="operate-items mt20">
           <a class="j-item " href="{% url 'accounts:user_center_recharge' %}">账户充值</a>
           <a class="j-item now" href="{% url 'accounts:user_amount_log' %}">充值记录</a>
           <a class="j-item" href="{% url 'accounts:user_balance_list' %}">收支明细</a>
       </div>
       <div class="redpack j-redpack" style="display:block;">
        <table class="redpack-items">
               <thead>
                   <tr class="redpack-tr1">
                       <th>选择</th>
                       <th>时间</th>
                       <th>充值单号</th>
                       <th>支付方式</th>
                       <th>金额</th>
                       <th>状态</th>
                       <th>操作</th>
                   </tr>
               </thead>
         <tbody>
           <!--取得一个DataTable-->
           <!--取得分页页码列表-->
          {% for b in object_list %}
            <tr>
              <td width="50" align="center">
                <input name="checkId" class="checkall" type="checkbox" value="{{ b.id }}" >
              </td>
              <td>{{ b.created_at }}</td>
              <td width="140">{{ b.sn }}</td>
              <td width="80">{{ b.method }}</td>
              <td width="80">￥{{ b.cash }}</td>
              <td width="50">
                
                  {{ b.get_status_display }}
                
              </td>
              <td width="50"><a onclick="ExecPostBack({{ b.id }});" href="javascript:;">删除</a></td>
            </tr>
            {% empty %}
                 <tr><td colspan="7" align="center">暂无记录...</td></tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="page-foot">
          <div class="pagination">
              <div class="list-page">
                  <ul class="post-data">
                      <li><a>共 {{ paginator.count }} 条</a></li>
                  </ul>
              </div>
              <ul>
                  {% if page_obj.has_previous %}
                  <li class="active"><a href="{% url 'accounts:user_amount_log' %}?page={{ page_obj.previous_page_number }}">上一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">上一页</a></li>
                  {% endif %}
                  {% for p in paginator.page_range %}
                  <li><a href="{% url 'accounts:user_amount_log' %}?page={{ p }}">{{ p }}</a></li>
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="active"><a href="{% url 'accounts:user_amount_log' %}?page={{ page_obj.next_page_number }}">下一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">下一页</a></li>
                  {% endif %}
              </ul>
          </div><!--放置页码列表-->
          <div class="page-btns">
            <a onclick="checkAll(this);" href="javascript:;">全选</a>
            <span class="pipe">|</span>
            <a onclick="ExecPostBack();" href="javascript:;">删除</a>
          </div>
        </div>
       </div>
      <input id="turl" type="hidden" value="{% url 'accounts:user_amount_log' %}" /><!--存在跳转的URL值-->
      <input id="csrf" type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
        <!--/充值记录-->
      
      
    </div>
{% endblock %}
    <!--/右侧内容-->

<!--Footer-->
<!---底部开始-->
<!---返回顶部-->
<!--换肤--->

<!---END 底部开始-->
<!--/Footer-->
{% block footjs %}
<script type="text/javascript">
    $(function () {
        $(".mymoney").addClass("demo-dd-a-now");
    })
    </script>
{% endblock %}