{% extends 'base/base.html' %}
{% load article_extras %}
{% block title %}
    <title>{{ type }} - KevIn`s Blog</title>
{% endblock %}
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->
<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
{% block content %}
<div class="container">
    <!--左侧开始-->
    <!--取得一个分页DataTable-->
    
	<section>
		<div class="shuo-area">
            <h4 class="index-title"> 
                
		        <a href="{% url 'article:article_list' %}"><i class="el-th-list"></i>全部 &nbsp;&nbsp;> &nbsp;&nbsp;</a>
		        <span class="orange-text">{{ type }}</span>
		        <span style="float:right;margin-right:10px;">共有文章:<font class="orange-text"> {{ paginator.count }} </font>篇</span>
	        </h4>	
			<div class="arclist">
				<ul>
                    <!--取得一个分页DataTable-->
                    {% for a in object_list %}

                    <li id="tuijian">
                    
					    <div class="arcimg img_loading">
					        <img  src="{{ a.img }}"  alt="{{ a.title }}" title="{{ a.title }}" />
					    </div>
					    <div class="arc-right">
                            
						    <h4 class="blue-text"><a href="{% url 'article:content' a.uid %}?num={{ forloop.counter0 }}&type={{ a.classify.code }}" title="{{ a.title }}">{{ a.title }}</a></h4>
						    <p>{{ a.content|content_len }}</p>
						    <ul>
							    <li><a title="管理员 2016-09-02 发表 "><i class="el-time icon-calendar"></i> {{ a.created_at }}</a></li>
							    <li><a href="#" title="作者： 管理员"><i class="el-user icon-user"></i>{{ a.author.name }}</a></li>
							    <li><a href="javascript:;"title="评论数"><i class="el-comment icon-speech" i="102"></i><em>0</em></a></li>
							    <li><a title="浏览数"><i class="el-eye-open icon-eye"></i>{{ a.view_count }}</a></li>
							    <li class="mob-hidden">
							      <i class="el-tag fa fa-tags"></i>
                                  
                                  <a href="">{{ a.tag.all.0 }}</a>
                                  
							    </li>
							    <li><a href="{% url 'article:article_list' %}?type={{ a.classify.code }}" title="查看分类"><i class="el-th-list fa fa-th-list"></i>{{ a.classify.name }}</a></li>
						    </ul>
					    </div>
				    </li>
                    {% endfor %}
				</ul>
			</div>
		</div>
        <div class="pagination">
              <div class="list-page">
                  <ul class="post-data">
                      <li><a>共 {{ paginator.count }} 条</a></li>
                  </ul>
              </div>
              <ul>
                  {% if page_obj.has_previous %}
                  <li class="active"><a href="{% url 'article:article_list' %}?type={{ code }}&page={{ page_obj.previous_page_number }}">上一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">上一页</a></li>
                  {% endif %}
                  {% for p in paginator.page_range %}
                  <li><a href="{% url 'article:article_list' %}?type={{ code }}&page={{ p }}">{{ p }}</a></li>
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class="active"><a href="{% url 'article:article_list' %}?type={{ code }}&page={{ page_obj.next_page_number }}">下一页</a></li>
                  {% else %}
                  <li class="active"><a href="javascript:valid(0);">下一页</a></li>
                  {% endif %}
              </ul>
          </div>
      </section>
    
    <!--左侧结束-->
    <!--右侧-->
    <script type="text/javascript" src="/static/js/common.js"></script>
    
<!--=========右侧开始==========-->
{% include 'base/rside.html' %}
<!--=========右侧结束==========-->
    <!--/右侧-->
</div>
{% endblock %}
    <!--Header-->
    <!---底部开始-->

<!---返回顶部-->
<!--换肤--->


<!---END 底部开始-->
    <!--/Header-->
{% block footjs %}
    <script type="text/javascript">
        document.getElementById("nav_53").className = "nav-active";
        ajaxEash(".icon-speech", "/", 0);
    </script>
{% endblock %}
