<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>生活哲理 - 冠美博客</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/templates/myblog/images/favicon.ico" />
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/public.css">
    <link rel="stylesheet" href="static/css/animation.css">
    <link rel="stylesheet" type="text/css" href="static/css/skin_1.css" title="qingxin">
    <link rel="stylesheet" type="text/css" href="static/css/skin_2.css" title="jianyue">
    <link rel="stylesheet" type="text/css" href="static/css/skin_3.css" title="qingshuang">
    <link rel="stylesheet" href="static/css/font-icon.css"/>
    <link rel="stylesheet" href="static/css/face.css"/>
    <script type="text/javascript" src="static/js/jquery.2.1.4.min.js"></script>
    <script>
        $("html").append("<div class='jiazai'><img src='static/picture/loading.gif'/><span>正在加载中请等待...</span></div>")
    </script>
    <script type="text/javascript" src="static/js/my.js"></script>
    <script type="text/javascript" src="static/js/superbg.min.js"></script>
    <script type="text/javascript" src="static/js/superbg-custom.js"></script>
    <script type="text/javascript" src="static/js/album.js"></script>
    <script type="text/javascript" src="static/js/tooltip.js"></script>
    <script type="text/javascript" src="static/js/face.js"></script>
    <script type="text/javascript" src="static/js/layer.js" ></script>
    <script type="text/javascript" src="static/js/checkform.js" charset="gb2312"></script>
    <script type="text/javascript" src="static/js/skin.js"></script>
</head>
<body class="nobg" >
<!--Header-->
<link href="static/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
<link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!--<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?a085b9cd4641b33068c03a9dd42ed1af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>-->
<!--导航开始-->
<header class="myheader">
	<div class="top">
		<!--头像左边部分-->
		<div class="top-left">
		  <div class="logo"><a href="/index.html"><img style=" margin-top:10px;" src="static/picture/201612141101549267.png"/></a></div>
				<!--滚动消息-->
			<div class="web-xiaoxi">
				<i class="el-speaker fa fa-volume-up"></i>
				<ul class="mulitline">
					<li>做了一些小调整，使之看起来更像博客。</li>
					<li>本站内容仅供学习和参阅，不做任何商业用途。</li>
					<li>内容如有侵犯，请立即联系管理员删除</li>
				</ul>
			</div>
				<!--END 消息 -->
			<!--手机菜单按钮-->
			<div class="mobile-nav"><i class="el-lines"></i><i class="el-remove"></i></div>
		</div>
	    <!--电脑导航开始-->
		<nav class="mynav">
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.html" title="首页">首页</a>
                </li>
				<li id="nav_2">
					<a href="/content/about.html" title="关于">关于</a>
				</li>
                
                 <li id="nav_3">
                     <a href="/shuo.html" title="每天的牢骚">说说</a>
                 </li>
                 
                    <li id="nav_4" class="drop">
                        <a href="/news/index.html" title="分类">分类<i class="fa fa-chevron-down el-chevron-down"></i></a>
                            <div class="drop-nav orange-text ">
                            <ul>
                            
                             <li id="nav_53"><a href="/news/53.html">生活哲理</a></li>
                            
                             <li id="nav_54"><a href="/news/54.html">程序交流</a></li>
                            
                             <li id="nav_56"><a href="/news/56.html">趣闻杂谈</a></li>
                            
                             <li id="nav_57"><a href="/news/57.html">一场旅行</a></li>
                            
                            <li id="nav_no"><a href="/music.html">在线音乐</a></li>
                            </ul>
                        </div>
                    </li>
                
                <li id="nav_5">
					<a href="/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/photo.html" title="我的相册">相册</a>
                </li>
                <li id="nav_7">
                    <a href="/down.html" title="我的素材">素材</a>
                </li>
                <li id="nav_9">
                    <a href="/video.html" title="视频">视频</a>
                </li>
				<li id="nav_8">
					<a href="/feedback.html" title="在这里写下你想说的话">留言</a>
				</li>
			</ul>
			 <!--移动的滑动-->
        <div class="move-bg"></div>
        <!--移动的滑动 end-->
		</nav>
		<!--这里是手机导航-->
		<div class="mob-menu">
		<!--手机顶部搜索-->
			<div class="search ">
				<form>
					<div class="search-index">
						<input name="keywords" type="text"  placeholder="请输入关键字" id="keywords" onfocus="this.placeholder=''" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keywords');return false};"  onblur="this.placeholder='请输入关键字'"/>
						<i class="el-search icon-magnifier" onclick="SiteSearch('/search.html', '#keywords');"><input value=" "type="submit"/></i>
					</div>
				</form>
			</div>
			<!--手机下拉菜单-->
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.html" title="">首页</a>
                </li>
				<li id="nav_2">
					<a href="/content/about.html" >关于</a>
				</li>
                <li id="nav_3">
                    <a href="/shuo.html" >说说</a>
                </li>
                
                    <li id="nav_4" class="mob-drop">
                        <a href="javascrip:;" title="分类">分类<i></i></a>
                            <ul class="mob-dropmenu">
                            
                             <li id="nav_53"><a href="/news/53.html">生活哲理</a></li>
                            
                             <li id="nav_54"><a href="/news/54.html">程序交流</a></li>
                            
                             <li id="nav_56"><a href="/news/56.html">趣闻杂谈</a></li>
                            
                             <li id="nav_57"><a href="/news/57.html">一场旅行</a></li>
                            
                             <li id="nav_no"><a href="/music.html">在线音乐</a></li>
                            </ul>
                    </li>
                
                <li id="nav_5">
					<a href="/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/photo.html" >相册</a>
                </li>
                <li id="nav_7">
                    <a href="/down.html" >素材</a>
                </li>
                <li id="nav_9">
                    <a href="/video.html" >视频</a>
                </li>
				<li id="nav_8">
					<a href="/feedback.html" title="">留言</a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
    <!--取得一个分页DataTable-->
    
	<section>
		<div class="shuo-area">
            <h4 class="index-title"> 
                
		        <a href="/news/index.html"><i class="el-th-list"></i>列表 &nbsp;&nbsp;> &nbsp;&nbsp;</a> 
		        <span class="orange-text">生活哲理</span>
		        <span style="float:right;margin-right:10px;">共有文章:<font class="orange-text"> 5 </font>篇</span>
	        </h4>	
			<div class="arclist">
				<ul>
                    <!--取得一个分页DataTable-->
                    
                    <li>
                    
					    <div class="arcimg img_loading">
					        <img  src=""  alt="在在在工 大在"title="在在在工 大在" />
					    </div>
					    <div class="arc-right">
						    <h4 class="blue-text"><a href="/news/show-172.html" title="在在在工 大在">在在在工 大在</a></h4>
						    <p>ffdfdfdfdfdfd</p>
						    <ul>
							    <li><a title=" 2018-06-02 发表 "><i class="el-time icon-calendar"></i> 2018-06-02</a></li>
							    <li><a href="#" title="作者： "><i class="el-user icon-user"></i></a></li>
							    <li><a href="/news/show-172.html"title="评论数"><i class="el-comment icon-speech" i="172"></i><em>0</em></a></li>
							    <li><a title="浏览数"><i class="el-eye-open icon-eye"></i>41</a></li>
							    <li class="mob-hidden">
							      <i class="el-tag fa fa-tags"></i>
                                  
                                  <a href="">暂无标签</a>
                                  
							    </li>
							    <li><a href="/news/53.html" title="查看分类"><i class="el-th-list fa fa-th-list"></i>生活哲理</a></li>
						    </ul>
					    </div>
				    </li>
                    
                    <li>
                    
					    <div class="arcimg img_loading">
					        <img  src=""  alt="做成枯要 工"title="做成枯要 工" />
					    </div>
					    <div class="arc-right">
						    <h4 class="blue-text"><a href="/news/show-170.html" title="做成枯要 工">做成枯要 工</a></h4>
						    <p>有模有样在枯要要要工基本功苛械工苯酚工要要</p>
						    <ul>
							    <li><a title=" 2018-04-05 发表 "><i class="el-time icon-calendar"></i> 2018-04-05</a></li>
							    <li><a href="#" title="作者： "><i class="el-user icon-user"></i></a></li>
							    <li><a href="/news/show-170.html"title="评论数"><i class="el-comment icon-speech" i="170"></i><em>0</em></a></li>
							    <li><a title="浏览数"><i class="el-eye-open icon-eye"></i>23</a></li>
							    <li class="mob-hidden">
							      <i class="el-tag fa fa-tags"></i>
                                  
                                  <a href="/search.html?keyword=棒棒">棒棒</a>
                                  
							    </li>
							    <li><a href="/news/53.html" title="查看分类"><i class="el-th-list fa fa-th-list"></i>生活哲理</a></li>
						    </ul>
					    </div>
				    </li>
                    
                    <li id="tuijian">
                    
					    <div class="arcimg img_loading">
					        <img  src="static/picture/201610111454266343.jpg"  alt="中国已进入互害模式，人人逃不脱！"title="中国已进入互害模式，人人逃不脱！" />
					    </div>
					    <div class="arc-right">
						    <h4 class="blue-text"><a href="/news/show-158.html" title="中国已进入互害模式，人人逃不脱！">中国已进入互害模式，人人逃不脱！</a></h4>
						    <p>你觉得你占了便宜，我觉得我占了便宜，最后谁也没占到便宜，——这就是互害社会生态链中的个人典型心理。互害生态链已经形成，每个人，无论从事什么行业、地位高低、年龄大小，都不可避免地生活在这个生态链里，无法逃脱。衣服装生产者说：我生产的衣服添加了甲醛、PH值、可分…</p>
						    <ul>
							    <li><a title="汪汪 2016-10-11 发表 "><i class="el-time icon-calendar"></i> 2016-10-11</a></li>
							    <li><a href="#" title="作者： 汪汪"><i class="el-user icon-user"></i>汪汪</a></li>
							    <li><a href="/news/show-158.html"title="评论数"><i class="el-comment icon-speech" i="158"></i><em>0</em></a></li>
							    <li><a title="浏览数"><i class="el-eye-open icon-eye"></i>313</a></li>
							    <li class="mob-hidden">
							      <i class="el-tag fa fa-tags"></i>
                                  
                                  <a href="">暂无标签</a>
                                  
							    </li>
							    <li><a href="/news/53.html" title="查看分类"><i class="el-th-list fa fa-th-list"></i>生活哲理</a></li>
						    </ul>
					    </div>
				    </li>
                    
                    <li id="tuijian">
                    
					    <div class="arcimg img_loading">
					        <img  src="static/picture/201609131550004500.jpg"  alt="年轻人，不要再贷款买房了！"title="年轻人，不要再贷款买房了！" />
					    </div>
					    <div class="arc-right">
						    <h4 class="blue-text"><a href="/news/show-110.html" title="年轻人，不要再贷款买房了！">年轻人，不要再贷款买房了！</a></h4>
						    <p>（一个房地产开发商的肺腑之言） 这篇文章在当前的环境下似乎很另类。 中国作为一个千百年受着“先成家，后立业”的人生模式影响的国度。成家，有一个房子，成为一个婚姻成立的前提。有人笑谈：是中国的丈母娘，逼高了中国房价！确实，作为地产人，我们真的很感谢那些丈母娘！…</p>
						    <ul>
							    <li><a title="管理员 2016-09-02 发表 "><i class="el-time icon-calendar"></i> 2016-09-02</a></li>
							    <li><a href="#" title="作者： 管理员"><i class="el-user icon-user"></i>管理员</a></li>
							    <li><a href="/news/show-110.html"title="评论数"><i class="el-comment icon-speech" i="110"></i><em>0</em></a></li>
							    <li><a title="浏览数"><i class="el-eye-open icon-eye"></i>73</a></li>
							    <li class="mob-hidden">
							      <i class="el-tag fa fa-tags"></i>
                                  
                                  <a href="/search.html?keyword=买房">买房</a>
                                  
							    </li>
							    <li><a href="/news/53.html" title="查看分类"><i class="el-th-list fa fa-th-list"></i>生活哲理</a></li>
						    </ul>
					    </div>
				    </li>
                    
                    <li id="tuijian">
                    
					    <div class="arcimg img_loading">
					        <img  src="static/picture/201609131551491926.jpg"  alt="什么叫空手套白狼？看完我惊呆了，大智慧！"title="什么叫空手套白狼？看完我惊呆了，大智慧！" />
					    </div>
					    <div class="arc-right">
						    <h4 class="blue-text"><a href="/news/show-102.html" title="什么叫空手套白狼？看完我惊呆了，大智慧！">什么叫空手套白狼？看完我惊呆了，大智慧！</a></h4>
						    <p>━━━━━━━━━━━━━━━━━━━No.1 第一课 ━━━━━━━━━━━━━━━━━━━爹对儿子说，我想给你找个媳妇。儿子说，可我愿意自己找！爹说，但这个女孩子是比尔盖茨的女儿！儿子说，要是这样，可以。然后他爹找到比尔盖茨，说，我给你女儿找了一个老公。比尔…</p>
						    <ul>
							    <li><a title="管理员 2016-09-02 发表 "><i class="el-time icon-calendar"></i> 2016-09-02</a></li>
							    <li><a href="#" title="作者： 管理员"><i class="el-user icon-user"></i>管理员</a></li>
							    <li><a href="/news/show-102.html"title="评论数"><i class="el-comment icon-speech" i="102"></i><em>0</em></a></li>
							    <li><a title="浏览数"><i class="el-eye-open icon-eye"></i>27</a></li>
							    <li class="mob-hidden">
							      <i class="el-tag fa fa-tags"></i>
                                  
                                  <a href="">暂无标签</a>
                                  
							    </li>
							    <li><a href="/news/53.html" title="查看分类"><i class="el-th-list fa fa-th-list"></i>生活哲理</a></li>
						    </ul>
					    </div>
				    </li>
                    
				</ul>
			</div>
		</div>
        <div class="pagination">
            <!--页码列表-->
              <div class="list-page"><ul class="post-data"><li><a>共 5 条</a></li></ul></div><ul><li class="active"><a>上一页</a></li><li><a>1</a></li><li class="active"><a>下一页</a></li></ul>
            <!--/页码列表-->
        </div>
      </section>
    
    <!--左侧结束-->
    <!--右侧-->
    <script type="text/javascript" src="static/js/common.js"></script>
    
<!--=========右侧开始==========-->
<aside class="myaside">
    <!--关注我-->
    <div class="focus-me bg-color animation-div">
            <h4 class="index-title"><i class="el-heart fa fa-heart"></i>关注我<small>Focus Me</small></h4>
		    <div class="xiangguan">
				    <div><a class="benbo" href="javascript:;" target="_blank"><i class="icon-cloud-download"></i></a><span>模板下载</span></div>
				    <div><a class="taobao" href="javascript:;" target="_blank"><i class="icon-basket-loaded"></i></a><span>淘宝店铺</span></div>
				    <div><a class="side-fx"><i class="icon-action-redo"></i></a><span>分享本博</span></div>
				    <div><a class="mail-btn" href="javascript:;"><i class="icon-envelope"></i></a><span>订阅我</span></div>
		    </div>
		    <div class="mail-dy">
			    <form action="http://list.qq.com/cgi-bin/qf_compose_send" method="post" target="_blank">
				    <span>订阅</span>
				    <input name="to" type="text" placeholder="输入邮箱点击订阅吧" onfocus="this.placeholder=''" onblur="this.placeholder='输入邮箱点击订阅吧'">
				    <i class="icon-envelope el-envelope"><input value=" " type="submit"></i>
			    </form>
			    <i class="fa fa-times el-remove fx-close"></i>
		    </div>
		    <div class="bd-fx side-bdfx ">
			    <i class="fa fa-times el-remove fx-close"></i>
			    <ul class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1472956810753">
				    <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
				    <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>
				    <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
				    <li><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></li>
			    </ul>
                <script>                    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "1", "bdSize": "32" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
		    </div>
        </div>
    <style>
            #cnzz_stat_icon_1260419029 a{display:none;}
            .cnzz_a1{    display: block;font-weight: bold;line-height: 18px;font-size:16px;}
            .cnzz_load{display:inline-block;width:15px;height:15px;background:url(static/images/loading-small.gif)no-repeat center;background-size:100%;}
        </style>
    <div class="web-author bg-color animation-div">
		    <div class="author-tx">
			    <a class="img-circle" href="/content/about.html" title="点击查看详细信息">
                    
                        <img class="img-circle" src="static/picture/ava.gif">
                    
			    </a>
		    </div>
            

            <div class="author-name" style="text-align: center;">
                <a href="/login.html"><span class="blue-text">登录</span>&nbsp;</a>&nbsp;|&nbsp;
                <a href="/register.html"><span class="blue-text">注册</span></a>
                <p>人生贵知心，定交无暮早</p>
            </div>
            
		    <div class="data-info">
			    <ul>
				    <li><strong id="myday">待定</strong><span>运行天数</span></li>
				    <li>
                        <strong id="strong_ip">
                            <b class="cnzz_load"></b>
                            <script type="text/javascript">
                                var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                                document.write(unescape("%3Cspan id='cnzz_stat_icon_1260419029'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260419029%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
                            </script>
                        </strong>
                        <span>今日访问ip</span>
                    </li>
				    <li style="display:none"><strong id="myip">待定</strong><span>今日访问ip</span></li>
				    <li><strong id="newcount">待定</strong><span>文章数量</span></li> 
			    </ul>
		    </div>
            <script type="text/javascript">
                $(function () {
                    setTimeout(function () {
                        var cnzz_a = $("#cnzz_stat_icon_1260419029").find("a")
                        var alen = cnzz_a.length;
                        for (var k = 0; k <= alen; k++) {
                            cnzz_a.eq(k).addClass("cnzz_a" + k);
                        }
                        $(".cnzz_a0,.cnzz_a2").remove();
                        var str = $(".cnzz_a1").text();
                        str = str.substring(8, 12);
                        $(".cnzz_a1").text(str);

                        if (!$("#cnzz_stat_icon_1260419029").html() == "") {
                            $(".cnzz_load").remove();
                            cnzz_a.show();
                        }
                    }, 1000)
                });
            </script>
            <!--搜索-->
            <div class="search animation-div">
                <div class="form_div">
	                <div class="search-index">
			            <input name="keyword" onfocus="lookup(this.value);" type="text" id="keyword" class="form-control search-box fr" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keyword');return false};" placeholder="输入关键字搜索">
			            <i class="el-search" onclick="SiteSearch('/search.html', '#keyword');"><input value=" " type="submit"></i>
		            </div>
                </div>
            </div>
            <!--最新更新-->
            <div class="clos-new bg-color animation-div">
	            <h4 class="index-title"><i class="el-bulb fa fa-lightbulb-o"></i>最新更新<small>Close New</small></h4>
	            <ul>
                    <li><i class="el-cloud fa fa-sun-o"></i><iframe id="tianqi" scrolling="no" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&amp;id=34&amp;icon=1&amp;num=3"></iframe></li>
                    
                    <li><span><i class="el-arrow-up fa fa-paper-plane-o"></i>最近：<font class="blue-text">admin</font> 06-02 13:47</span><a title="汪汪 最后更新了 在在在工 大在">更新了<b class="lable">文章</b></a></li>
                    
                    <li><i class="el-calendar fa fa-calendar"></i>历史上的今天（<a class="orange-text">0</a>）</li>
                </ul>
            </div>
            <!--说说-->
            <div class="bg-color animation-div">
	            <h4 class="index-title"><i class="el-headphones icon-earphones"></i>说说<small>Shuo Shuo</small></h4>
	            <div class="shuo-side">
		            <ul>
                        
                        <li id="Hots">
				            <span class="shuobg1"><strong>06-02 </strong></span>
				            <div>
                                <a href="/shuo/show-171.html" title="fdfdfafafdf">fdfdfafafdf</a>
                                <b title="点击量">(10)</b>
                            </div>
			            </li>
                        
                        <li id="Hots">
				            <span class="shuobg2"><strong>09-23 </strong></span>
				            <div>
                                <a href="/shuo/show-153.html" title="刚刚收到一条反馈，你是在玩我吧还是在测试">刚刚收到一条反馈，你是在玩我吧还是在测试</a>
                                <b title="点击量">(67)</b>
                            </div>
			            </li>
                        
                        <li id="Hots">
				            <span class="shuobg3"><strong>09-20 </strong></span>
				            <div>
                                <a href="/shuo/show-148.html" title="大晚上的终于将百度编辑器上传图片添加水印弄好了，明天分享下心得">大晚上的终于将百度编辑器上传图片添加水印弄好了，明天分享下心得</a>
                                <b title="点击量">(73)</b>
                            </div>
			            </li>
                        
		            </ul>
	            </div>
            </div>
            <!--推荐图文-->
            <div class="article-push  bg-color animation-div">
	            <h4 class="index-title"><i class="el-asl fa fa-fire"></i>推荐图文<small>Push Article</small></h4>
	            <ul>
                    
                    <li>
			            <div class="arcimg"> 
				            <a href="/news/show-158.html" title="">
                                <img src="static/picture/201610111454266343.jpg" alt="中国已进入互害模式，人人逃不脱！" title="中国已进入互害模式，人人逃不脱！">
                            </a>
			            </div>
			            <div class="arc-right">
				            <h4 class="blue-text"><a href="/news/show-158.html">中国已进入互害模式，人人逃不脱！</a></h4>
				            <p>你觉得你占了便宜，我觉得我占了便宜，最后谁也没占到便宜，——这就是互害社会生态链中的个人典型心理。互害生态链已经形成，每个人，无论从事什么行业、地位高低、年龄大小，都不可避免地生活在这个生态链里，无法逃脱。衣服装生产者说：我生产的衣服添加了甲醛、PH值、可分…</p>
				            <ul>
					            <li><a title="发表于2016-10-11"><i class="el-time icon-calendar"></i>2016-10-11</a></li>
					            <li><a title="313次浏览"><i class="el-fire icon-fire"></i>313</a></li>
				            </ul>
			            </div>
		            </li>
                    
                    <li>
			            <div class="arcimg"> 
				            <a href="/news/show-149.html" title="">
                                <img src="static/picture/201609221724121994.png" alt="汪汪博客再次更新" title="汪汪博客再次更新">
                            </a>
			            </div>
			            <div class="arc-right">
				            <h4 class="blue-text"><a href="/news/show-149.html">汪汪博客再次更新</a></h4>
				            <p>此次一共更新了两个功能：1：后台编辑器上传图片添加水印2：查看详情可点击图片进行放大查看更新这两个功能用了两天，怎么说呢时间大部分都在解决点击图片放大查看，原本这个功能是很好解决的，只需要看一下百度编辑器的文档就行了，在它的常见问题就可以看到解决方案，万万没…</p>
				            <ul>
					            <li><a title="发表于2016-09-22"><i class="el-time icon-calendar"></i>2016-09-22</a></li>
					            <li><a title="172次浏览"><i class="el-fire icon-fire"></i>172</a></li>
				            </ul>
			            </div>
		            </li>
                    
                    <li>
			            <div class="arcimg"> 
				            <a href="/news/show-144.html" title="">
                                <img src="static/picture/201609181738278456.png" alt="jwplayer兼容主流视频格式播放" title="jwplayer兼容主流视频格式播放">
                            </a>
			            </div>
			            <div class="arc-right">
				            <h4 class="blue-text"><a href="/news/show-144.html">jwplayer兼容主流视频格式播放</a></h4>
				            <p>首先我们定义一个视频播放容器#jwplayer和用于jwplayer视频插件播放的#player&lt;div id=&quot;jwplayer&quot; style=&quot;background: transparent !important; margin:0 auto; width:400px; height:270px; overflow:hidden;&quot;&gt;   &lt;div id=&quot;player&quot;&gt;…</p>
				            <ul>
					            <li><a title="发表于2016-09-18"><i class="el-time icon-calendar"></i>2016-09-18</a></li>
					            <li><a title="164次浏览"><i class="el-fire icon-fire"></i>164</a></li>
				            </ul>
			            </div>
		            </li>
                    
	            </ul>
            </div>
            <!--文章排行tab-->
            <div class="mytab bg-color animation-div">
	            <div class="tab-btn">
                    <a class="hd-btn tab-active" href="javascript:;" title=""><i class="el-comment-alt icon-bubbles"></i>互动信息</a>
                    <a class="ph-btn" href="javascript:;" title=""><i class="el-signal icon-bar-chart"></i>文章排行</a>
                </div>
	            <ul class="hudong-ul" style="display: block;">
                    <!--=======查询相册=============-->
                    
                    <li>
			            <div class="sd-tx">
				            <a href="/feedback.html" target="_blank" rel="nofollow" title="去 晓晓 的网站看看 ?">
					            <img src="static/picture/4.jpg" alt="晓晓" class="img-circle">
				            </a>
			            </div>
			            <div class="sd-name">
		                    <span><i class="el-user icon-user"></i>晓晓<time>2016-09-22</time></span>
				            <a class="blue-text comment_txt" href="/feedback.html" title="[Q0]不错,留言标题什么意思">[Q0]不错,留言标题什么意思</a>
			            </div>
		            </li>
                    
                    <li>
			            <div class="sd-tx">
				            <a href="/feedback.html" target="_blank" rel="nofollow" title="去 背包客 的网站看看 ?">
					            <img src="static/picture/22.jpg" alt="背包客" class="img-circle">
				            </a>
			            </div>
			            <div class="sd-name">
		                    <span><i class="el-user icon-user"></i>背包客<time>2016-09-20</time></span>
				            <a class="blue-text comment_txt" href="/feedback.html" title="哟西">哟西</a>
			            </div>
		            </li>
                    
                    <li>
			            <div class="sd-tx">
				            <a href="/feedback.html" target="_blank" rel="nofollow" title="去 小兔子乖乖 的网站看看 ?">
					            <img src="static/picture/24.jpg" alt="小兔子乖乖" class="img-circle">
				            </a>
			            </div>
			            <div class="sd-name">
		                    <span><i class="el-user icon-user"></i>小兔子乖乖<time>2016-09-13</time></span>
				            <a class="blue-text comment_txt" href="/feedback.html" title="小兔子乖乖，把门开开[ali_4]">小兔子乖乖，把门开开[ali_4]</a>
			            </div>
		            </li>
                    
	            </ul>
	            <!--文章排行-->
	            <ul class="paihang-ul" style="display: none;">
                    
                    <li><span></span><a href="/news/show-158.html" title="中国已进入互害模式，人人逃不脱！">中国已进入互害模式，人人逃不脱！<b>(313)</b></a></li>
                    
                    <li><span></span><a href="/news/show-149.html" title="汪汪博客再次更新">汪汪博客再次更新<b>(172)</b></a></li>
                    
                    <li><span></span><a href="/news/show-144.html" title="jwplayer兼容主流视频格式播放">jwplayer兼容主流视频格式播放<b>(164)</b></a></li>
                    
                    <li><span></span><a href="/news/show-111.html" title="（2016-9-10更新）汪汪博客net源码下载">（2016-9-10更新）汪汪博客net源码下载<b>(149)</b></a></li>
                    
                    <li><span></span><a href="/news/show-154.html" title="Feedback+留言插件增强版">Feedback+留言插件增强版<b>(106)</b></a></li>
                    
                    <li><span></span><a href="/news/show-155.html" title="JS获取客户端信息">JS获取客户端信息<b>(101)</b></a></li>
                    
	            </ul>
	        </div>
            <!--标签-->
            <div class="cloud bg-color animation-div">
                <h4 class="index-title"><i class="el-tags icon-tag"></i>标签云<small>Tags Clouds</small></h4>
	            <ul id="3dcloud">
                    
                      <li><a href= "/search.html?keyword=后台模板" title="10个话题">后台模板</a> </li> 
                    
                      <li><a href= "/search.html?keyword=net源码" title="3个话题">net源码</a> </li> 
                    
                      <li><a href= "/search.html?keyword=汪汪博客" title="2个话题">汪汪博客</a> </li> 
                    
                      <li><a href= "/search.html?keyword=网站技巧" title="2个话题">网站技巧</a> </li> 
                    
                      <li><a href= "/search.html?keyword=OA" title="2个话题">OA</a> </li> 
                    
                      <li><a href= "/search.html?keyword=播放器" title="1个话题">播放器</a> </li> 
                    
                      <li><a href= "/search.html?keyword=雷电" title="1个话题">雷电</a> </li> 
                    
                      <li><a href= "/search.html?keyword=旅游网源码" title="1个话题">旅游网源码</a> </li> 
                    
                      <li><a href= "/search.html?keyword=CRM" title="1个话题">CRM</a> </li> 
                    
                      <li><a href= "/search.html?keyword=工作通" title="1个话题">工作通</a> </li> 
                    
                      <li><a href= "/search.html?keyword=朋友圈" title="1个话题">朋友圈</a> </li> 
                    
                      <li><a href= "/search.html?keyword=在线预览" title="1个话题">在线预览</a> </li> 
                    
                      <li><a href= "/search.html?keyword=html模板" title="1个话题">html模板</a> </li> 
                    
                      <li><a href= "/search.html?keyword=jwplayerplayer" title="1个话题">jwplayerplayer</a> </li> 
                    
                      <li><a href= "/search.html?keyword=商家会员管理" title="1个话题">商家会员管理</a> </li> 
                    
                      <li><a href= "/search.html?keyword=tags" title="1个话题">tags</a> </li> 
                    
                      <li><a href= "/search.html?keyword=标签" title="1个话题">标签</a> </li> 
                    
                      <li><a href= "/search.html?keyword=字符串转换数组" title="1个话题">字符串转换数组</a> </li> 
                    
                      <li><a href= "/search.html?keyword=字符分割" title="1个话题">字符分割</a> </li> 
                    
                      <li><a href= "/search.html?keyword=UEditor" title="1个话题">UEditor</a> </li> 
                    
                      <li><a href= "/search.html?keyword=blueimp" title="1个话题">blueimp</a> </li> 
                    
                      <li><a href= "/search.html?keyword=支付宝" title="1个话题">支付宝</a> </li> 
                    
                      <li><a href= "/search.html?keyword=在线留言" title="1个话题">在线留言</a> </li> 
                    
                      <li><a href= "/search.html?keyword=意见反馈" title="1个话题">意见反馈</a> </li> 
                    
                      <li><a href= "/search.html?keyword=邮件通知" title="1个话题">邮件通知</a> </li> 
                    
                      <li><a href= "/search.html?keyword=JS" title="1个话题">JS</a> </li> 
                    
                      <li><a href= "/search.html?keyword=客户端" title="1个话题">客户端</a> </li> 
                    
                      <li><a href= "/search.html?keyword=视频" title="1个话题">视频</a> </li> 
                    
	            </ul>
            </div>
            <!--友情链接-->
            <div class="side-link ">
	            <h4 class="index-title"><i class="el-paper-clip icon-paper-clip"></i>友情链接
                    <small>Friend Links</small>
                    <a href="/link.html"><i class="el el-plus icon-direction"></i>申请</a>
                </h4>
	            <ul>
                    
                        <li><a href='http://xiaoyi6.co' target='_blank' title="">冠美科技</a> </li>
                    
	            </ul>
            </div>
	    </div>
</aside>
<!--=========右侧结束==========-->
    <!--/右侧-->
</div>
    <!--Header-->
    <!---底部开始-->
<footer>
	<div class="footer-area">
	<!--博客相关-->
	<div class="about-blog">
		<h4>素材排行</h4>
		<div class="ft-part1">
			<!--文章排行-->
				<ul class="paihang-ul" style="display:block;width:100%;">
                    
                    <li><span></span><a href="/down/show-142.html" title=" Bootstrap响应CRM系统后台模板"> Bootstrap响应CRM系统后台模板<b>(167)</b></a></li>
                    
                    <li><span></span><a href="/down/show-132.html" title=" 懒人OA（改）"> 懒人OA（改）<b>(133)</b></a></li>
                    
                    <li><span></span><a href="/down/show-118.html" title=" 旅游网源码"> 旅游网源码<b>(77)</b></a></li>
                    
                    <li><span></span><a href="/down/show-157.html" title=" 全民经纪人"> 全民经纪人<b>(76)</b></a></li>
                    
                    <li><span></span><a href="/down/show-143.html" title=" Atom ios7风格cms管理模板"> Atom ios7风格cms管理模板<b>(69)</b></a></li>
                    
				</ul>
		</div>
	</div>
	<!--最新留言-->
	<div class="close-fd mob-hidden">
		<h4>留言频道</h4>
		<ul >	
            
            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 晓晓 的网站看看?">
			    	    <img class="img-circle" src="static/picture/4.jpg" alt="晓晓"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>晓晓</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="[Q0]不错,留言标题什么意思">[Q0]不错,留言标题什么意思</a>
			    </div>
			</li>
            
            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 背包客 的网站看看?">
			    	    <img class="img-circle" src="static/picture/22.jpg" alt="背包客"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>背包客</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="哟西">哟西</a>
			    </div>
			</li>
            
            <li>
                <div class="sd-tx">
			    	<a href="#" target="_blank" rel="nofollow" title="去 小兔子乖乖 的网站看看?">
			    	    <img class="img-circle" src="static/picture/24.jpg" alt="小兔子乖乖"/>
                    </a>
			    </div>
			    <div class="sd-name">
				    <span>小兔子乖乖</span>
				    <a class="blue-text comment_txt" href="/feedback.html" title="小兔子乖乖，把门开开[ali_4]">小兔子乖乖，把门开开[ali_4]</a>
			    </div>
			</li>
            
        </ul>
	</div>
	
	<!--图文频道-->
	<div class="tuwen-pd mob-hidden">
		<h4>图文频道</h4>
		<ul >
            
            <li>
			    <a href="/news/show-158.html" title="中国已进入互害模式，人人逃不脱！">
			    <img src="static/picture/201610111454266343.jpg" alt="中国已进入互害模式，人人逃不脱！" title="中国已进入互害模式，人人逃不脱！" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-149.html" title="汪汪博客再次更新">
			    <img src="static/picture/201609221724121994.png" alt="汪汪博客再次更新" title="汪汪博客再次更新" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-144.html" title="jwplayer兼容主流视频格式播放">
			    <img src="static/picture/201609181738278456.png" alt="jwplayer兼容主流视频格式播放" title="jwplayer兼容主流视频格式播放" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-111.html" title="（2016-9-10更新）汪汪博客net源码下载">
			    <img src="static/picture/201609171044440839.jpg" alt="（2016-9-10更新）汪汪博客net源码下载" title="（2016-9-10更新）汪汪博客net源码下载" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-154.html" title="Feedback+留言插件增强版">
			    <img src="static/picture/201609261655116264.jpg" alt="Feedback+留言插件增强版" title="Feedback+留言插件增强版" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-155.html" title="JS获取客户端信息">
			    <img src="static/picture/201609292303066507.jpg" alt="JS获取客户端信息" title="JS获取客户端信息" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-150.html" title="如果哪天我“没”了， 支付宝里的钱怎么办？">
			    <img src="static/picture/201609231135499029.jpg" alt="如果哪天我“没”了， 支付宝里的钱怎么办？" title="如果哪天我“没”了， 支付宝里的钱怎么办？" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-108.html" title="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出">
			    <img src="static/picture/201609131550365913.jpg" alt="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出" title="（2016-9-10更新）重磅！汪汪博客前台HTML模板放出" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-110.html" title="年轻人，不要再贷款买房了！">
			    <img src="static/picture/201609131550004500.jpg" alt="年轻人，不要再贷款买房了！" title="年轻人，不要再贷款买房了！" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-109.html" title="如果想做一件事，先别忙着发朋友圈">
			    <img src="static/picture/201609131550179813.jpg" alt="如果想做一件事，先别忙着发朋友圈" title="如果想做一件事，先别忙着发朋友圈" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-121.html" title="什么样的博客容易被评论？">
			    <img src="static/picture/201609111931276585.jpg" alt="什么样的博客容易被评论？" title="什么样的博客容易被评论？" class="img-circle"/>
			    </a>
		    </li>
            
            <li>
			    <a href="/news/show-129.html" title="外链的几种形式及权重">
			    <img src="static/picture/201609132140209769.jpg" alt="外链的几种形式及权重" title="外链的几种形式及权重" class="img-circle"/>
			    </a>
		    </li>
            
		</ul>
	</div>
		<!--数据统计-->
	<div class="data-count ">
		<h4>数据统计</h4>
		<ul>
			<li><span><i class="el-picture icon-social-twitter"></i>图片数量：</span><a title="相册" class="footer_picture"></a> 张</li>
			<li><span><i class="el-headphones icon-social-twitter"></i>说说数量：</span><a title="说说" class="footer_headphones"></a> 条</li>
			<li><span><i class="el-pencil icon-social-twitter"></i>文章数量：</span><a title="文章" class="footer_pencil"></a> 篇</li>
			<li><span><i class="el-comment icon-social-twitter"></i>留言数量：</span><a title="留言数" class="footer_comment"></a> 条</li>
			<li><span><i class="el-comment-alt icon-social-twitter"></i>评论数量：</span><a title="评论数" class="footer_comment_alt"></a> 条</li>
			<li><span><i class="el-paper-clip icon-social-twitter"></i>素材个数：</span><a title="素材" class="footer_paper_clip"></a> 个</li>
			<!--<li><span><i class="el-cog icon-social-twitter"></i>运行天数：</span><a title="汪汪博客 已正常运行 312 天">312</a> 天</li>
			<li><span><i class="el-adjust-alt icon-social-twitter"></i>访问统计：</span><a title="累计访问116,900">116,900</a> 次</li>-->
		</ul>
	</div>

	</div>
	<!--底部导航-->
	<div class="foot-nav">
		<div class="copy-right"><span >CopyRight © 2015-2016 冠美博客     Design by coseo.cn</span></div>
		<div class="bottom-nav">
			<span>
                <a href="http://tongji.baidu.com/web/welcome/ico?s=a085b9cd4641b33068c03a9dd42ed1af" target="_blank">百度统计</a><!--
                -
                <script type="text/javascript">                    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1260419029'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260419029' type='text/javascript'%3E%3C/script%3E"));</script>
                -
                --><a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action"> 浙ICP备15008004号-1</a>
            </span>
		</div>
	</div>
<div  id="toTop">Back to Top</div>
<script type="text/javascript">
    window.onload = function () {
        $(".img_loading").removeClass("img_loading");
        $(".silde-title").show();

        $(".comment_txt").each(function () {
            $(this).html($(this).html().replace(/\[Q([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
            $(this).html($(this).html().replace(/\[yc_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
            $(this).html($(this).html().replace(/\[ali_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        })
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[Q([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[yc_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[ali_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>"));
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[Q([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[yc_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[ali_([0-9]*)\]/g, "<img src='static/picture/$1.gif'/>");
    }
</script>
</footer>
<!---返回顶部-->
<!--换肤--->

<div class="select-skin">
<div class="skin-btn">
    <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
</div>

<div class="skin-content">
    <h1>选择风格<span class="skin-close">关闭</span></h1>
    <div class="skin-content-list">
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a></div>
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a></div>
		 <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;" class="btn3">清爽</a></div>
    </div>
</div>	
</div>
<!---END 底部开始-->
    <!--/Header-->
    <script type="text/javascript">
        document.getElementById("nav_53").className = "nav-active";
        ajaxEash(".icon-speech", "/", 0);
    </script>
</body>
</html>
